#{$all-buttons} {
	appearance: none;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	line-height: 1;
	padding: $small-spacing $base-spacing;
	user-select: none;
}

.btn {
	appearance: none;
	background-color: $action-color;
	border: 2px solid transparent;
	border-radius: $base-border-radius;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-family: $base-font-family;
	font-size: calcRem(12);
	-webkit-font-smoothing: antialiased;
	font-weight: $font-weight--medium;
	letter-spacing: $base-letter-spacing;
	line-height: 1;
	outline: none;
	overflow: hidden;
	padding: $small-spacing $base-spacing;
	text-align: center;
	text-decoration: none;
	text-shadow: $text-shadow-btn;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover {
		background-color: darken($action-color, 8%);
		color: darken($white, 6%);
	}

	&:focus {
		// outline: $focus-outline;
		// outline-offset: $focus-outline-offset;
		outline: 0;
		outline-offset: 0;
	}

	&:active {
		cursor: pointer !important;
		outline: none !important;
		outline: 0 !important;
		transform: scale(1.025);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&.btn-sm {
		font-size: calcRem(11);
		height: auto;
		letter-spacing: 1px;
		padding: 6px 17px;
	}

	&.btn-md {
		font-size: calcRem(12);
		height: auto;
		padding: 8px 37px;
	}

	&.btn-lg {
		font-size: calcRem(13);
		height: auto;
		padding: 12px 45px;
	}

	&.btn-border {
		background-color: transparent;
		border: 2px solid $color-black;
		color: $color-black;

		&:hover,
		&:focus {
			background-color: $black;
			border-color: transparent;
			color: $white;
		}
	}

	&.btn-border-white {
		background-color: transparent;
		border: 2px solid $white-75;
		color: $white;

		&:hover,
		&:focus {
			background-color: $white;
			border-color: transparent;
			color: $color-black;
		}
	}

	&.btn-white {
		background-color: $white-75;
		color: $color-black;

		&:hover,
		&:focus {
			background-color: $white;
			color: $color-black;
		}
	}

	&.btn-white-color {
		background-color: $white;
		color: $color-pink;

		&:hover,
		&:focus {
			background-color: $white;
			color: $color-black;
		}
	}

	&.btn-circle {
		border-radius: 30px;
	}
	&.btn-block {
		display: block;
	}
}

@each $color-name, $color-value, $font-color in $named-color-list {
	.btn-#{$color-name} {
		background-color: $color-value;
		color: $font-color;

		&:focus,
		&:hover {
			background-color: darken($color-value, 8%);
			color: darken($font-color, 6%);
			opacity: 0.85;
		}
	}

	.btn-border-#{$color-name} {
		background-color: transparent;
		border-color: $color-value;
		color: $color-value;

		&:focus,
		&:hover {
			background-color: $color-value;
			border-color: transparent;
			color: $font-color;
		}
	}
}

