html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
	color: $base-font-color;
	font-family: 'BentonSans';
	font-size: 100%;
	line-height: $base-line-height;
}

html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'BentonSans';
	font-size: modular-scale(1);
	letter-spacing: $base-letter-spacing;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

p {
	margin: 0 0 $small-spacing;
}

a {
	color: $action-color;
	text-decoration: none;
	transition: color $base-duration $base-timing;

	&:hover {
		color: shade($action-color, 25%);
	}

	// &:focus {
	// 	outline: $focus-outline;
	// 	outline-offset: $focus-outline-offset;
	// }
}

hr {
	border: 0;
	border-bottom: $base-border;
	margin: $base-spacing auto;
}

.lead {
	font-size: calcRem(18);
	font-weight: $font-weight--regular;
	line-height: $lead-line-height;
}

// Typography Styles

%text-page-title {
	font-size: calcRem(48);
}


%texted-stacked-section-title {
	font-size: rem(30);
	@include mq($min-width: $page-section-sm) {
		font-size: rem(40);
	}
	@include mq($min-width: 1275px) {
		font-size: rem(48);
	}
}


%countdown-number {
	font-size: rem(30);
	line-height: $heading-line-height;
	@include mq($min-width: $page-section-lg) {
		font-size: rem(40);
	}
}

%text-headline-lowercase {
	font-size: rem(24);
	font-weight: $font-weight--light;
	line-height: $heading-line-height;
}

%text-countdown-cta-headline {
	font-size: rem(20);
	text-transform: uppercase;
}

%card-title {
	font-size: calcRem(20);
}

%text-card-headline {
	font-size: calcRem(18);
	letter-spacing: $base-letter-spacing;
	text-transform: uppercase;
}

%text-agenda-subtitle-date {
	font-size: rem(16);
	line-height: $heading-line-height;
	text-transform: uppercase;
}

%accordion-title {
	font-size: calcRem(14);
	text-transform: uppercase;
}

%text-nav {
	font-size: calcRem(12);
	font-weight: $font-weight--medium;
	text-transform: uppercase;
}


// Groups
// Group - Keynote
%text-keynote-title {
	font-size: calcRem(30);
	font-weight: $font-weight--medium;
	margin-bottom: 0;
	text-transform: uppercase;
}

%text-keynote-subtitle {
	font-size: calcRem(14);
}
