.breadcrumb {
	li {
		color: $color-pink;
		display: inline-block;
		font-weight: $font-weight--medium;
		letter-spacing: $base-letter-spacing;
		text-transform: uppercase;

		+li::before {
			@include padding(null $x-small-spacing);
			color: $white;
			content: "/\00a0";
			font-weight: $font-weight--thin;
		}

		a {
			color: $white;

			&:hover {
				color: $color-pink;
			}
		}
	}
}
