$venue-map-height: 550px;

#map {
	&__wrapper {
		height: $footer-icon-break;
		position: relative;
		width: 100%;

		@include mq($min-width: $cards-brk-sm) {
			height: $venue-map-height;
		}
	}

	&__canvas {
		@include size(100%);
		@include position(absolute, 0);
	}
}

.venue {
	background: $color-blue;
	color: $color-snow;
	float: left;
	height: $venue-map-height;
	padding: $small-spacing $base-spacing;
	position: relative;

	@include mq($max-width: $cards-brk-sm) {
		display: none !important;
	}

	.section-title {
		text-shadow: $venue-title-shadow;

		&__title {
			color: $color-snow;
		}

		&__tagline {
			color: $color-lime;
			margin-bottom: $x-small-spacing;
		}

		&__mark {
			color: $color-lime;
		}
	}
}

address.venue-button {
	@include margin($base-spacing null);
	cursor: pointer;
	font-style: normal;
	transition: color $base-duration $base-timing;

	&:hover {
		color: shade($color-snow, 12%);

		h5 {
			color: shade($color-lime, 12%);
		}
	}

	h5 {
		@extend %card-title;
		color: $color-lime;
		font-weight: $font-weight--regular;
		margin-bottom: 4px;
	}
}


// Flexbox Styles
html.flexbox {
	#map__wrapper {
		.container {
			align-content: flex-start;
			display: flex;
		}
	}

	.venue {
		display: flex;
		float: none;

		&__text {
			align-self: center;
		}
	}
}
