.secondary-page-title {
	align-items: center;
	background-attachment: initial;
	display: flex;
	justify-content: center;

	&::before {
		@include position(absolute, 0);
		@include size(100%);
		background-color: $color-purple;
		background-image: linear-gradient(to right,
			$color-purple 0%,
			$color-teal 100%,
			$color-purple-light 100%);
		content: " ";
		opacity: 0.6;
	}

	&__inner {
		max-width: 80%;
		position: relative;
		text-shadow: $fontshaow-page-title;

		h1 {
			@extend %text-page-title;
			color: $white;
		}
	}
}

// Main Section Headline
$section-title-underline-width: 33%;
$section-title-underline-height: 4px;

.section-title {
	margin-bottom: $base-spacing;

	&__title {
		color: $color-black;
		display: inline-block;
		font-size: $large-spacing;
		margin-bottom: $large-spacing;
		position: relative;

		&::after {
			@include size($section-title-underline-width $section-title-underline-height);
			@include position(absolute, null null (-$base-spacing) 0);
			background-color: $color-teal;
			content: "";
			display: inline-block;
		}
	}

	&__mark {
		color: $color-pink;
		left: $section-title-underline-height;
		position: relative;
	}

	&__subtitle {
		display: block;
	}

	&__tagline {
		@extend %text-countdown-cta-headline;
	}


	// Main Section Headline - Centered
	&.text-center {
		.section-title__title::after {
			left: 50%;
			margin-left: (-$section-title-underline-width / 2);
		}

		.section-title__subtitle {
			@include margin(null auto $base-spacing);
			max-width: $lead-mobile-max-width;
		}
	}
}


// Main Section Headline - Stacked
.section-title--stacked {
	display: inline-block;
	margin-bottom: $large-spacing;
	position: relative;

	&::after {
		@include position(absolute, null null (-$base-spacing) 0);
		@include size($section-title-underline-width $section-title-underline-height);
		background-color: $color-purple-light;
		content: "";
		display: inline-block;
	}

	&__title {
		@extend %texted-stacked-section-title;
	}
}
