//Pixels to Rems

@function calcRem($size) {
	$rem-size: $size / 16;

	@return #{$rem-size}rem;
}

.text-center {
	text-align: center;
}

.row {
	@include grid-collapse;
	@include grid-container;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-base {
	margin-bottom: $base-spacing;
}

.mt-base {
	margin-top: $base-spacing;
}

.clearfix {
	@include clearfix;
}

.bg-scroll {
	background-attachment: scroll !important;
}

.invisible {
	left: -999px;
	overflow: hidden;
	position: absolute;
	top: -999px;
}

.block {
	display: block;
}
