// Typography
$base-font-family: 'BentonSans';
$heading-font-family: $base-font-family;

// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 900;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: rem(3);
$large-border-radius: $base-border-radius * 2;

// spacing
$base-spacing: 1.5rem;
$small-spacing: $base-spacing / 2;
$x-small-spacing: $small-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;
$base-letter-spacing: 0.1rem;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;
$black: #000;
$color-snow: #f8f8f8;
$color-snow-d: #c5c5c5;

// Theme Colors
$color-purple: #6b478e;
$color-teal: #63d0df;
$color-purple-light: #7673c0;
$color-blue: #636cb2;

// Secondary Theme Colors
$color-pink: #ed3e7a;
$color-lime: #c9da2a;
$color-black: #202020;
$color-gray: $medium-gray;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $color-purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $white;

// Box Shadow
$boxshadow-large: 0 $small-spacing $base-spacing 0 rgba(0, 0, 0, 0.2);
$boxshadow-navbar: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Media Queies
$container-max-width: 1200px;