.event-main {
	background-color: $white;
	box-shadow: $boxshadow-large;
	margin-bottom: $base-spacing;
	@include mq($min-width: $page-section-lg) {
		float: left;
		margin-right: 24px;
		width: calc(100% - 384px); // card width 360px + 24px margin-right
	}

	&-photo {
		position: relative;

		> img {
			width: 100%;
		}
	}

	.promo-section {
		@include padding($small-spacing null);

		h5 {
			@extend %text-card-headline;
		}
	}

	article {
		padding: $base-spacing;

		h3 {
			font-size: calcRem(24);
			margin-bottom: $base-spacing;
			text-transform: uppercase;
		}

		p {
			&:last-of-type {
				margin-bottom: $base-spacing;
			}
		}
	}

	footer {
		border-bottom: $base-border;
		border-top: $base-border;
		overflow: hidden;
		text-align: right;
		@extend %accordion-title;
		@include padding($small-spacing $base-spacing);
		@include clearfix;

		span {
			display: inline-block;
			font-weight: $font-weight--medium;
			margin-right: $small-spacing;
			vertical-align: sub;

			svg {
				margin-right: $x-small-spacing;
				vertical-align: text-top;
				fill: $color-teal;;
			}

			i {
				color: $color-teal;
				margin-right: $x-small-spacing;
			}
		}

		ul.post-share {
			display: inline-block;

			li {
				border-right: $base-border;
				display: inline-block;

				&:last-of-type {
					border-right: 0;
				}

				a {
					color: $base-font-color;
					display: block;
					padding: 0 $small-spacing;
				}
			}
		}
	}
}

.event-sidebar {
	background-color: $white;
	box-shadow: $boxshadow-large;
	margin-bottom: $base-spacing;
	@include mq($min-width: $page-section-lg) {
		// @include grid-column(5);
		float: left;
		width: $card-max-width;
	}
}

.widget {
	padding: $card-inner-padding;

	&-flex {
		@include mq($min-width: $cards-brk-sm, $max-width: $page-section-lg) {
			align-content: flex-start;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			@include margin(null -0.5rem);
		}
	}

	h4 {
		border-bottom: 1px solid $color-gray;
		font-size: calcRem(20);
		letter-spacing: 1px;
		margin-bottom: $base-spacing;
		padding-bottom: $small-spacing;
		position: relative;
		text-transform: uppercase;

		&::before {
			background-color: $color-teal;
			bottom: -1px;
			content: '';
			height: 4px;
			left: 0;
			position: absolute;
			width: 33%;
			z-index: 1;
		}
	}

	.post-thumb {
		border-bottom: $base-border;
		margin-top: $small-spacing;
		overflow: hidden;
		padding-bottom: $small-spacing;

		&:last-of-type {
			border-bottom: 0;
			padding-bottom: 0;
		}
		@include mq($min-width: $cards-brk-sm, $max-width: $page-section-lg) {
			width: calc(50% - 1rem);
			@include margin(null 0.5rem);

			&:last-of-type {
				border-bottom: $base-border;
				padding-bottom: $small-spacing;
			}
		}

		> a {
			font-weight: $font-weight--medium;
			line-height: $heading-line-height;
			@extend %accordion-title;
		}
	}
}
