.split-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;

	&-media,
	&-content {
		width: auto;

		&.left {
			@include mq($min-width: $page-section-lg) {
				float: left;
				width: 50%;
			}
		}

		&.right {
			@include mq($min-width: $page-section-lg) {
				float: right;
				width: 50%;
			}
		}
	}

	&-content {
		&-wrapper {
			@include padding(0 50px);
			@include mq($min-width: $container-max-width) {
				@include padding(null 80px);
			}
		}

		&-text {
			margin: auto;
			max-width: $lead-mobile-max-width;
			@include mq($min-width: $page-section-lg) {
				max-width: 100%;
			}
		}
	}

	&-media {
		&-table {
			background-attachment: fixed;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			display: table;
			width: 100%;
		}

		&-cell {
			background-position: center center !important;
			background-repeat: no-repeat !important;
			background-size: 50% 50% !important;
			display: table-cell;
			vertical-align: middle;
			@include padding(null $small-spacing);
		}
	}
}

