ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

dl {
	margin: 0;
}

dt {
	margin: 0;
}

dd {
	margin: 0;
}

.inline-list {
	li {
		display: inline-block;
		margin-right: $base-spacing;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.list-headline {
	@extend %text-countdown-cta-headline;

	small {
		display: block;
		margin-top: $base-spacing;
	}
}

.list-headline-small {
	@extend %text-agenda-subtitle-date;
	margin-bottom: $x-small-spacing;
}

.list-dots {
	list-style-type: disc;
	margin-left: $base-spacing;

	li {
		line-height: $lead-line-height;
		margin-bottom: $small-spacing;

		>ul {
			list-style-type: circle;
			margin-left: $base-spacing;
			margin-top: $small-spacing;
		}
	}
}

.list-grouped {
	>li {
		@include margin($base-spacing null);
	}
}

.list-numbered {
	list-style-type: decimal;
	margin-bottom: $small-spacing;
	padding-left: $base-spacing;

	li {
		line-height: $lead-line-height;
		margin-bottom: $small-spacing;
	}
}

.list-definition {
	margin: $base-spacing auto;
	max-width: $lead-mobile-max-width;

	dt {
		@extend %card-title;
		font-weight: $font-weight--bold;
		margin-top: $small-spacing;
	}
}

ul.share-list {
	li {
		border-right: $base-border;
		display: inline-block;
		vertical-align: middle;

		&:last-of-type,
		&:first-of-type {
			border-right: 0;
		}
	}

	a {
		display: block;
		line-height: 1;
		outline: 0;
		padding: $x-small-spacing $small-spacing;
		position: relative;

		&:hover {
			svg {
				fill: $color-purple-light;
			}
		}
	}
}

.icon {
	display: inline-block;
	fill: $base-font-color;
	font-size: 14px;
	max-height: 14px;
	max-width: 14px;
	vertical-align: middle;
}
