.adress-display {
	@include clearfix;
	align-items: center;
	display: flex;

	&-item {
		@include mq($min-width: $cards-brk-sm) {
			display: flex;
			width: 50%;
		}

		img {
			display: none;

			@include mq($min-width: $cards-brk-sm) {
				display: block;
			}
		}

		li {
			margin-bottom: $small-spacing;
			margin-left: $base-spacing + $x-small-spacing;
			margin-top: $small-spacing;
			position: relative;

			svg {
				@include size(16px);
				fill: $color-pink;
				left: -($base-spacing + $x-small-spacing);
				position: absolute;
				top: 4px;
			}
		}
	}
}
