footer.footer
	.container
		.footer__logo
			svg
				use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#logo-primary')

		nav.inline-list.footer__nav
			li
				a.footer__nav--item(href='//www.aapa.org/about/') About
			li
				a.footer__nav--item(href='#') Contact

		.footer__social
			a(href='#', title='Huddle', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#huddle')

			a(href='#', title='LinkedIn+', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#linkedin')

			a(href='#', title='Snapchat', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#snapchat')

			a(href='#', title='YouTube', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#youtube')

			a(href='#', title='Twitter', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#twitter')

			a(href='#', title='Facebook', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#facebook')

		hr

		.footer__disclaimer
			a.footer__disclaimer--logo(href='//www.aapa.org/')
				svg
					use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#aapa-logo__purple')

			p.footer__disclaimer--text AAPA is the national organization that advocates for all PAs and provides tools to improve PA practice and patient care.
