footer.footer
	.container
		.footer__logo
			svg
				use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#logo-primary')

		nav.inline-list.footer__nav
			li
				a.footer__nav--item(href='//aapa.org/about/', target='_blank') About
			li
				a.footer__nav--item(href='contact-us.html') Contact

		.footer__social
			a(href='//huddle.aapa.org/home', title='Huddle', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#huddle')

			a(href='//linkedin.com/company/american-academy-of-physician-assistants', title='LinkedIn+', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#linkedin')

			a(href='//snapchat.com/add/aapaorg', title='Snapchat', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#snapchat')

			a(href='//youtube.com/aapavideo', title='YouTube', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#youtube')

			a(href='//twitter.com/aapaorg', title='Twitter', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#twitter')

			a(href='//facebook.com/aapa.org', title='Facebook', target='_blank')
				svg
					use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#facebook')

		hr

		.footer__disclaimer
			a.footer__disclaimer--logo(href='//www.aapa.org/')
				svg
					use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#logo-aapa')

			p.footer__disclaimer--text AAPA is the national organization that advocates for all PAs and provides tools to improve PA practice and patient care.
