include svg/svg-navbar
header.navbar
	section.navbar__top
		.container
			ul.inline-list
				li
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-calender')
					span May 19-23, 2018
				li
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-location')
					span New Orleans
			a.btn.btn-sm.btn-teal.btn-cme(href='//www.aapa.org/learning-central/aapa-cme-manager-certificates/', target='_blank') CME Certificates
	section.navbar__bottom
		.container
			a.navbar__bottom--logo(href='index.html')
				svg
					use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#logo-primary')
			button.hamburger
				.hamburger__menu
					.hamburger__menu--bar
			nav.navbar__bottom--nav
				ul.nav-menu

					li
						a.has__sub-nav(href='#')
							span Hotels &amp; Travel
						ul.sub-nav
							li
								a(href='housing-info-and-policies.html') Hotel Policy &amp; Rates
							li
								a(href='//www.neworleanscvb.com/things-to-do/', target='_blank') City Guide
							li
								a(href='contact-us.html') Contact Us

					li
						a.has__sub-nav(href='#')
							span Program
						ul.sub-nav
							li
								a(href='agenda.html') Agenda
							li
								a(href='//conferencescheduler.aapa.org/') CME Sessions
							li
								a(href='special-events.html') Special Events
							li
								a(href='keynote.html') Keynote
							li
								a(href='exhibit-hall.html') Exhibit Hall
							li
								a(href='product-theaters.html') Product Theaters
							li
								a(href='satellite-symposia.html') Satellite Symposia

					li
						a.has__sub-nav(href='#')
							span Information
						ul.sub-nav
							li
								a(href='register.html') Registration Pricing
							li
								a(href='faqs.html') FAQs
							li
								a(href='speakers-moderators.html') Speaker &amp; Moderators

					li
						a.has__sub-nav(href='#')
							span Exhibitors &amp; Sponsors
						ul.sub-nav
							li
								a(href='//www.registration.experientevent.com/ShowIMP181/Flow/EXHIBITOR#/registrant//ExhibitingCompanySearch/') Exhibitor &amp; Sponsor Portal
							li
								a(href='//www.s23.a2zinc.net/clients/aapas/AC18/Public/Enter.aspx') Room Block Request
