include svg/svg-navbar
header.navbar
	section.navbar__top
		.container
			ul.inline-list
				li
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-calender')
					span May 19-23, 2018
				li
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-location')
					span New Orleans
	section.navbar__bottom
		.container
			a.navbar__bottom--logo(href='index.html')
				svg
					use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#logo-primary')
			button.hamburger
				.hamburger__menu
					.hamburger__menu--bar
			nav.navbar__bottom--nav
				ul.nav-menu

					li
						a.has__sub-nav(href='#')
							span Hotels &amp; Travel
						ul.sub-nav
							li
								a(href='housing-info-and-policies.html') Hotel Policy &amp; Rates
							li
								a(href='//neworleanscvb.com/things-to-do/', target='_blank') City Guide
							li
								a(href='contact-us.html') Contact Us

					li
						a.has__sub-nav(href='#')
							span Program
						ul.sub-nav
							//- li
							//- 	a(href='') Agenda
							//- li
							//- 	a(href='') CME Sessions
							li
								a(href='special-events.html') Special Events
							li
								a(href='keynote.html') Keynote
							//- li
							//- 	a(href='') Exhibit Hall
							//- li
							//- 	a(href='') Satellite Symposia
							//- li
							//- 	a(href='') Product Theaters

					li
						a.has__sub-nav(href='#')
							span Information
						ul.sub-nav
							//- li
							//- 	a(href='') Registration Pricing
							li
								a(href='faqs.html') FAQs
							//- li
							//- 	a(href='') Speaker &amp; Moderators

					//- li
					//- 	a.has__sub-nav(href='#')
					//- 		span Exhibitors &amp; Sponsors
					//- 	ul.sub-nav
					//- 		li
					//- 			a(href='') Exhibitor &amp; Sponsor Portal
					//- 		li
					//- 			a(href='') Room Block Request

					//- li
					//- 	a.has__sub-nav(href='#')
					//- 		span CME Certificates
					//- 	ul.sub-nav
					//- 		li
					//- 			a(href='') 2017
					//- 		li
					//- 			a(href='') 2016
					//- 		li
					//- 			a(href='') 2015
					//- 		li
					//- 			a(href='') 2014