extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - AAPA Career Fair
block vendorScripts
	script(src="js/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('images/event-pages/CareerFair-hero.jpg'); background-position: 50% 40%;`, `AAPA Career Fair`, `AAPA Career Fair`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="images/event-pages/CareerFair-event.jpg", alt="AAPA Career Fair")
				article
					h3 AAPA Career Fair
					p.lead Get one step closer to that first PA job, or your next career move! Meet with representatives from top employers from across the country looking to hire qualified PAs in all settings and specialties. Sign up when you register or at the door.

				+event-footer
			+event-sidebar