extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
  title AAPA 2018 - AAPA National Medical Challenge Bowl
block vendorScripts
  script(src="libraries/twitterFetcher_min.js")
  script(src="js/components/accordion.min.js")
block scripts
  script.
    twitterFetcher.fetch(twitterFeed);
block content
  +page-title-img(`background-image: url('images/event-pages/ChallengeBowl-hero.jpg'); background-position: 50% 35%;`, `AAPA National Medical Challenge Bowl`, `AAPA National Medical Challenge Bowl`)

  section.small-section.bg-pattern--blue
    .container
      main.event-main
        header.event-main-photo
          img(src="images/event-pages/ChallengeBowl-event.jpg", alt="AAPA National Medical Challenge Bowl")
        article
          h3 AAPA National Medical Challenge Bowl
          p.mb-base This high-energy medical game show will be held on Monday, May 21 at 7 p.m. in the Ernest N. Morial Convention Center in New Orleans, LA. All teams will answer multiple choice questions on a screen using an Audience Response System (ARS) keypad. The top-scoring 36 teams will then advance to the on-stage rounds and will answer free response questions on a variety of topics ranging from anatomy, microbiology and psychiatry.


          h4.text-center Challenge Bowl 2017
          .row.text-center
            a.featured-item-small.text-center(href="//www.aapa.org/about/aapa-governance-leadership/student-academy/challenge-bowl-past-winners/", target="_blank")
              svg.featured-item-small-icon
                use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-trophy')
              h5.featured-item-small-title.font-alt 2017 Winners
              .featured-item-small-desc Lorem ipsum dolor amet post-ironic green distillery single-origin coffee.

            a.featured-item-small.text-center(href="//www.aapa.org/about/aapa-governance-leadership/student-academy/challenge-bowl-statement/", target="_blank")
              svg.featured-item-small-icon
                use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-statement')
              h5.featured-item-small-title.font-alt 2017 Statement
              .featured-item-small-desc Plaid taxidermy distillery photo booth, semiotics glossier typewriter

            a.featured-item-small.text-center(href="//www.aapa.org/wp-content/uploads/2017/05/Challenge-Bowl-Completed-Bracket-2017.pdf", target="_blank")
              svg.featured-item-small-icon
                use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-bracket')
              h5.featured-item-small-title.font-alt 2017 Bracket
              .featured-item-small-desc Echo park health goth fanny pack, edison bulb PBR&B offal kitsch adaptogen

          h4 Challenge Bowl Rules & Procedures:
          p Find information about Challenge Bowl orientation, game scoring and policies in the 
            a(href='https://www.aapa.org/wp-content/uploads/2017/10/CB-procedure-2018.pdf', target='_blank', rel='noopener') Challenge Bowl Rules & Procedures
            | .

          dl.accordion
            dt
              a(href='') What types of questions are asked during the competition?
            dd
              p Questions are asked on a variety of subjects, including:
              ul.list-dots
                li physical diagnosis
                li microbiology
                li anatomy
                li OB/GYN
                li pulmonary
                li cardiology
                li primary care
                li emergency medicine and surgery.
            dt
              a(href='') What are the eligibility requirements?
            dd
              ul.list-dots
                li At least 75 percent of all PA students in the team’s PA program must be AAPA student members.
                li The team’s Assembly of Representatives representative must attend the AOR meeting held during AAPA’s annual conference.
                li All team members must be AAPA student members currently enrolled in an accredited PA program that has a student society registered with AAPA.
                li All team members must be registered for AAPA’s annual conference.
                li Only one team member per team can be graduating within 30 days of competition.
            dt
              a(href='') How do I register a team?
            dd
              p 2018 Challenge Bowl registration will open February 1.
              a.btn(href='https://www.formsite.com/aapa/challengebowlAC12/index.html?1506979524128') Register Now
            dt
              a(href='') What is the cost of registration?
            dd
              p There is no entrance fee. Participants must be registered as conference attendees and show their conference name badge at team registration.
            dt
              a(href='') When will I know if my team has been accepted?
            dd
              ul.list-dots
                li All teams will be notified of their eligibility status in March.
                li For more information, contact the Student Academy National Office at 571-319-4310 or email 
                  a(href='mailto:students@aapa.org') students@aapa.org
                  | .


        +event-footer
      +event-sidebar
