extends layouts/default_layout

block content
	section.page-section.secondary-page-title(style="background-position: 50% 85%; background-image: url('images/hero-images/hero__aapa-staff.jpg');")
		.secondary-page-title__inner
			h1 Contact Information
			ul.breadcrumb
				li
					a(href='index.html') Home
				li Contact Us

	section.page-section
		.container
			.cme-item
				.cme-item-image
					svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 58 58')
						circle(cx='29', cy='29', r='29', fill='#6b478e')
						g(fill='#FFF')
							path(d='M44 29L22 44V14')
							path(d='M22 45c-.16 0-.32-.038-.467-.116C21.205 44.71 21 44.37 21 44V14c0-.37.205-.71.533-.884.328-.174.724-.15 1.03.058l22 15c.273.186.437.495.437.826s-.164.64-.437.826l-22 15c-.17.115-.366.174-.563.174zm1-29.107v26.215L42.225 29 23 15.893z')

				.cme-item-content
					h1 AAPA Conference on Demand
					p Programs available in the comprehensive digital library of presentations from AAPA 2017.
			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text C
				.cme-item-content
					h1 Core
					p Programs identified by the Commission on Continuing Professional Development and Education (CCPDE) as core knowledge for all PAs. These programs are also suitable for new graduates.


			.cme-item
				.cme-item-image
					img(src="https://www.aapa.org/wp-content/uploads/2017/10/AC-18.008-AAPA-2018-Marketing-registration-icons-chlm.png", alt="alt")
				.cme-item-content
					h1 Center for Healthcare Leadership and Management
					p The AAPA Center for Healthcare Leadership and Management (CHLM) recommends these sessions. CHLM encourages professional development, executive training and leadership management and supports appropriate legislation that benefits the PA profession.


			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text I
				.cme-item-content
					h1 Key Educational Initiatives
					p AAPA’s key educational initiatives are multi-faceted and address selected disease areas with a range of educational activities, coupled with tools to support the implementation of best practices in the clinical setting. They include Diabetes Leadership Edge and Obesity Leadership Edge.


			.cme-item
				.cme-item-image
					p.cme-icon-teal
						strong.cme-icon-teal__text MTE
				.cme-item-content
					h1 Meet the Expert (MTE) Sessions
					p MTEs require additional fees and separate, advanced registration.


			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text P
				.cme-item-content
					h1 Pharmacology
					p Programs identified as meeting state-mandated pharmacology CME requirements.


			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text R
				.cme-item-content
					h1 Recertification
					p Programs identified by CCPDE as useful for individuals preparing to take the Physician Assistant National Recertifying Exam (PANRE).


			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text RE
				.cme-item-content
					h1 Re-entry
					p Programs identified by CCPDE as useful for individuals re-entering clinical practice after an absence.


			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text SA
				.cme-item-content
					h1 Self-Assessment
					p Programs identified as eligible for AAPA Category 1 Self-Assessment CME credit.


			.cme-item
				.cme-item-image
					p.cme-icon
						strong.cme-icon__text S
				.cme-item-content
					h1 Specialty
					p Programs identified by CCPDE as appropriate for specialty PAs.

			.cme-item
				.cme-item-image
					p.cme-icon-teal
						strong.cme-icon-teal__text WS
				.cme-item-content
					h1 Workshops
					p Workshops require additional fees and separate, advanced registration.


