extends layouts/default_layout
include mixins/page-title-video
include mixins/hotel
include mixins/section-title-double-left
include mixins/section-title-left-stacked-top
include mixins/section-title-left
block title
	title AAPA 2018 - Hotel Policy & Rates
block vendorScripts
	script(src="js/pages/housing-info-and-policies.min.js")
block content
	+page-title-video(`video/video-hotels`, `images/hero-slider/hero-slider--hotel.jpg`, `Hotels & Travel`, `Hotel Policy & Rates`)

	section.split-section
		.clearfix.relative

			.split-section-media.right
				.split-section-media-table(style="background-image: url('images/backgrounds/bg_pink-triangles.png')")
					.split-section-media-cell.page-section.bg-scroll(style="background-image: url('images/clipart/new.svg')")

			.split-section-content.page-section.left
				.split-section-content-wrapper
					.split-section-content-text
						+section-title-double-left(`Housing`, `&`, `Registration Policy`, '.')
						p New this year, AAPA will be offering a $200 registration discount for attendees who book their hotel room within any of the official AAPA hotel blocks through our official housing agent, Experient. This year, you have 10 properties to choose from in the New Orleans area! You will be prompted to book your hotel during your registration process in order to receive the discount. No deposit is required to make a reservation until Friday, May 4, 2018.

	section.split-section
		.clearfix.relative

			.split-section-media.left
				.split-section-media-table(style="background-image: url('images/backgrounds/bg_lime-triangles.png')")
					.split-section-media-cell.page-section.bg-scroll(style="background-image: url('images/clipart/question.svg')")

			.split-section-content.page-section.right
				.split-section-content-wrapper
					.split-section-content-text
						+section-title-left-stacked-top(`New Policy`, `?`, `Why are we enacting this`)
						p In order to negotiate discounted hotel room rates for conference attendees, AAPA is required to fill a certain number of hotel rooms — an increasingly difficult task given the rise of discounted-hotel websites and Airbnb. When rooms aren’t filled, AAPA faces a loss. This new offered discount is an alternative to increasing registration rates to compensate for that loss.
						p Special considerations will be made for those who live in the New Orleans area and don’t require a hotel room. Contact us at the email above for more information.
						small
							em
								strong Note:
								|  Reservations made in official conference hotels through other websites (Expedia, Priceline, etc.) will not be eligible for the registration discount.


	section.page-section.bg-pattern--teal
		.container
			+section-title-left(`Hotel Rates`, `.`)
		.container.container-flex
			+hotel-cards