extends layouts/default_layout
include mixins/special-events-cards
block title
  title AAPA 2018

block vendorCSS
  link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css", rel="stylesheet")

block vendorScripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')

block scripts
  script.
    document.addEventListener('DOMContentLoaded', initTabs);
    initializeClock('.js-countdown', new Date(2017, 12, 27));
    // Events Carousel
    $('.events').owlCarousel({
      loop: false,
      margin: 10,
      nav: true,
      navText: [
        '<svg><use xmlns:xlink="http://www.w3.org/2000/xlink" xlink:href="#slick-prev"></use></svg>',
        '<svg><use xmlns:xlink="http://www.w3.org/2000/xlink" xlink:href="#slick-next"></use></svg>',
      ],
      navContainerClass: 'owl-carousel__nav',
      navClass: ['owl-carousel__nav--prev', 'owl-carousel__nav--next'],
      navElement: 'button',
      dotsClass: 'owl-carousel__dots',
      dotClass: 'owl-carousel__dots--item',
      stagePadding: 10,
      responsive: {
        0: {
          items: 1,
          center: true,
        },
        600: {
          items: 2,
        },
        872: {
          items: 3,
        },
        1200: {
          items: 4,
        },
        1600: {
          items: 5,
        },
      },
    });
include mixins/countdown
include mixins/section-title-center-stacked-top-w-sub
include mixins/section-title-left
include mixins/section-title-center
include mixins/section-title-double-left
include mixins/card-price
include mixins/hotel
block content

  section.page-section
    .container
      +section-title-double-left(`Real Connections`, `.`, `Real Community`, `.`)

      p.lead Connect with leading CME, new career opportunities, your PA peers, New Orleans – and do it all in one place at one time, at the only national PA conference.
      p.lead Because real learning takes place face-to-face. Real relationships thrive on shared experiences. And a real community is built on real connections. The connections you make here will make all the difference.

  +countdown

  section#register.page-section.bg-pattern--teal
    .container
      +section-title-center-stacked-top-w-sub(`Registration Discounts`, `.`, `Cyber Monday Prices are here!`, `From now through November 27th, Get our special discounted rate by staying in the AAPA hotel block.`)

      +card-price(`Member`, `$550`, `$750`, `purple`)
      +card-price(`Member`, `$550`, `$750`, `blue`)
      +card-price(`Member`, `$550`, `$750`, `pink`)


  section.page-section.bg-blue
    .container
      +section-title-left(`Agenda`, `.`)

      #tabs.agenda-tabs
        nav.agenda-tabs__nav.text-center
          .nav_wrap
            a.agenda-tabs__nav--link.is-active(href='#')
              | Friday
              span May 18
            a.agenda-tabs__nav--link(href='#')
              | Saturday
              span May 19
            a.agenda-tabs__nav--link(href='#')
              | Sunday
              span May 20
            a.agenda-tabs__nav--link(href='#')
              | Monday
              span May 21
            a.agenda-tabs__nav--link(href='#')
              | Tuesday
              span May 22
            a.agenda-tabs__nav--link(href='#')
              | Wednesday
              span May 23
        .agenda-tabs__content-item.is-active
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 8:00 a.m. - 6:00 p.m.
                .agenda__item--name AAPA Board of Directors Meeting
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 1:00 p.m. - 7:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 3:30 p.m. - 7:00 p.m.
                .agenda__item--name House of Delegates Credentialing
              .agenda__item
                .agenda__item--time 6:30 p.m. - 8:00 p.m.
                .agenda__item--name House of Delegates Reference Committee Orientation
              .agenda__item
                .agenda__item--time 6:00 p.m. - 8:00 p.m.
                .agenda__item--name Student Academy Board Meeting
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 6:30 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 8:45 a.m.
                .agenda__item--name House of Delegates Delegate Orientation
              .agenda__item
                .agenda__item--time 8:00 a.m. - 5:00 p.m.
                .agenda__item--name House of Delegates Credentialing
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 9:00 a.m. - 3:00 p.m.
                .agenda__item--name Blood Drive
              .agenda__item
                .agenda__item--time 9:00 a.m. - 5:30 p.m.
                .agenda__item--name Assembly of Representatives (AOR) Meeting
              .agenda__item
                .agenda__item--time 9:00 a.m. - 5:00 p.m.
                .agenda__item--name House of Delegates Meeting
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 5:30 p.m. - 7:00 p.m.
                .agenda__item--name Shaking Hands & Taking Names
              .agenda__item
                .agenda__item--time 6:00 p.m. - 7:30 p.m.
                .agenda__item--name House of Delegates Reception (Invitation Only)
              .agenda__item
                .agenda__item--time 7:00 p.m. - 8:00 p.m.
                .agenda__item--name AAPA Distinguished Fellows Reception (Invitation Only)
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 7:00 a.m. - 7:45 a.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 7:00 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 9:00 a.m.
                .agenda__item--name House of Delegates Credentialing
              .agenda__item
                .agenda__item--time 8:00 a.m. - 3:30 p.m.
                .agenda__item--name House of Delegates Meeting
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 9:00 a.m. - 11:00 a.m.
                .agenda__item--name AAPA Career Fair
              .agenda__item
                .agenda__item--time 9:00 a.m. - 3:00 p.m.
                .agenda__item--name Blood Drive
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name AAPA Career Fair
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:30 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 4:00 p.m. - 5:30 p.m.
                .agenda__item--name General Session
              .agenda__item
                .agenda__item--time 6:00 p.m. - 7:00 p.m.
                .agenda__item--name Constituent Organization Leadership Forum
              .agenda__item
                .agenda__item--time 7:00 p.m. - 8:00 p.m.
                .agenda__item--name Constituent Organization Leadership Reception
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 7:00 p.m - 10:00 p.m.
                .agenda__item--name PA Foundation Event
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 7:00 a.m. - 7:45 a.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 7:00 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 11:00 a.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name House of Delegates Meeting
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name Research in Action
              .agenda__item
                .agenda__item--time 9:00 a.m. - 5:00 p.m.
                .agenda__item--name Exhibit Hall Open
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 12:30 p.m. - 2:00 p.m.
                .agenda__item--name Researchers Luncheon
              .agenda__item
                .agenda__item--time 12:30 p.m. - 3:30 p.m.
                .agenda__item--name PA Foundation Board Meeting
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 2:00 p.m. - 6:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 5:00 p.m. - 6:30 p.m.
                .agenda__item--name Veteran's Caucus Memorial Ceremony
              .agenda__item
                .agenda__item--time 6:30 p.m. - 7:30 p.m.
                .agenda__item--name Veteran's Caucus Memorial Reception
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 6:00 p.m. - 7:00 p.m.
                .agenda__item--name Program Directors Reception (Invitation Only)
              .agenda__item
                .agenda__item--time 7:00 p.m.
                .agenda__item--name AAPA's National Medical Challenge Bowl
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 6:30 a.m. - Race Start
                .agenda__item--name PA Foundation Pacers for Health 5K Fun Run/Walk
              .agenda__item
                .agenda__item--time 6:30 a.m. - 7:45 a.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 7:00 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name Arizona State University Capstone
              .agenda__item
                .agenda__item--time 8:00 a.m. - 11:00 a.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 9:00 a.m. - 2:30 p.m.
                .agenda__item--name Exhibit Hall Open
              .agenda__item
                .agenda__item--time 11:00 a.m. - 1:00 p.m.
                .agenda__item--name Exhibit Hall Brunch Bites
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 2:00 p.m. - 6:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 6:30 a.m. - 7:45 a.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 7:00 a.m. - 3:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name CME Sessions & Workshops
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops



  section.page-section.bg-pattern--purple

    +section-title-center(`Special Events`, `.`)

    .events.owl-carousel
      +special-events-cards

      //- figure
      //-   a.events__photo(href='/shaking-hands-taking-names')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_ShakingHands.jpg', alt='')
      //-     span.text-center.date.date__sat
      //-       | 19
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/shaking-hands-taking-names')
      //-       h5 Shaking Hands & Taking Names
      //-     p
      //-       | Designed just for students! Don’t miss this chance to socialize, share and network with fellow PA students.


      //- figure
      //-   a.events__photo(href='/aapa-distinguished-fellows-reception')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_DistinguishFellow.jpg', alt='')
      //-     span.text-center.date.date__sat
      //-       | 19
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/aapa-distinguished-fellows-reception')
      //-       h5 AAPA Distinguished Fellows Reception
      //-     p
      //-       | Join your Distinguished Fellow peers and mingle over appetizers and drinks at this invitation-only reception.


      //- figure
      //-   a.events__photo(href='#')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_CareerFair.jpg', alt='')
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-   .events__text
      //-     a(href='')
      //-       h5 AAPA Career Fair
      //-     p Get one step closer to that first PA job, or your next career move!


      //- figure
      //-   a.events__photo(href='/general-session')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/generalspeaker.png', alt='')
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/general-session')
      //-       h5 General Session
      //-     p
      //-       | Grab your pack and join PA Jeff Evans on a journey to high peaks and exciting locales around the world at MountainVision:
      //-       | Lessons Beyond the Summit.


      //- figure
      //-   a.events__photo(href='/party-purpose-b-b-kings-blues-club')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/PartyPurpose.png', alt='')
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/party-purpose-b-b-kings-blues-club')
      //-       h5 PA Foundation Party for a Purpose @ B.B. King's Blues Club
      //-     p It’s a PA party in the Crescent City at B.B. King's Blues Club!


      //- figure
      //-   a.events__photo(href='/satellite-symposia')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_SatelliteSymposia2.png', alt='')
      //-     span.text-center.date.date__sat
      //-       | 19
      //-       span.month MAY
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-     span.text-center.date.date__mon
      //-       | 21
      //-       span.month MAY
      //-     span.text-center.date.date__tue
      //-       | 22
      //-       span.month MAY
      //-     span.text-center.date.date__wed
      //-       | 23
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/satellite-symposia')
      //-       h5 Satellite Symposia
      //-     p
      //-       | Satellite Symposia are non-commercial scientific sessions carrying AAPA Category 1 CME credit supported by members of
      //-       | the healthcare industry to complement the conference CME program.


      //- figure
      //-   a.events__photo(href='#')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/product-theater.png', alt='')
      //-     span.text-center.date.date__sat
      //-       | 19
      //-       span.month MAY
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-     span.text-center.date.date__mon
      //-       | 21
      //-       span.month MAY
      //-     span.text-center.date.date__tue
      //-       | 22
      //-       span.month MAY
      //-   .events__text
      //-     a(href='#')
      //-       h5 Product Theaters
      //-     p
      //-       | Learn about the latest products and technologies at these free 45-minute sessions that include breakfast or lunch!


      //- figure
      //-   a.events__photo(href='#')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_SparkSess.jpg', alt='')
      //-   .events__text
      //-     a(href='#')
      //-       h5 Student SPARK Sessions
      //-     p
      //-       | SPARK Sessions will give you advice and knowledge for every phase of your PA student career – and beyond!


      //- figure
      //-   a.events__photo(href='#')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_EPosters.jpg', alt='')
      //-     span.text-center.date.date__sat
      //-       | 19
      //-       span.month MAY
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-     span.text-center.date.date__mon
      //-       | 21
      //-       span.month MAY
      //-     span.text-center.date.date__tue
      //-       | 22
      //-       span.month MAY
      //-   .events__text
      //-     a(href='#')
      //-       h5 ePoster and Research in Action
      //-     p
      //-       | Connect with the Latest PA research. Join us to see and share leading research by and about PAs!


      //- figure
      //-   a.events__photo(href='/constituent-organizations')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/09/AAPA2018_Web_CoCentral.png', alt='')
      //-     span.text-center.date.date__sun
      //-       | 20
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/constituent-organizations')
      //-       h5 Constituent Organizations
      //-     p
      //-       | Don’t miss out on numerous state, specialty, and special interest events taking place during conference.


      //- figure
      //-   a.events__photo(href='/aapa-national-medical-challenge-bowl')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/challengebowl.png', alt='')
      //-     span.text-center.date.date__mon
      //-       | 21
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/aapa-national-medical-challenge-bowl')
      //-       h5 AAPA National Medical Challenge Bowl
      //-     p
      //-       | Cheer on Your PA Program! This high-energy medical game show will be held on Monday, May 21 at 7 p.m. in the Ernest
      //-       | N. Morial Convention Center in New Orleans, LA.


      //- figure
      //-   a.events__photo(href='/veterans-caucus-memorial-ceremony-reception')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/01/Veterans-Caucus.png', alt='')
      //-     span.text-center.date.date__mon
      //-       | 21
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/veterans-caucus-memorial-ceremony-reception')
      //-       h5 Veteran's Caucus Memorial Ceremony and Reception
      //-     p
      //-       | All conference attendees are encouraged to participate in this annual event which honors fallen PAs and the profession’s
      //-       | military roots with music and military symbolism.


      //- figure
      //-   a.events__photo(href='/pacers-health-5k-fun-runwalk')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/FunRun.png', alt='')
      //-     span.text-center.date.date__tue
      //-       | 22
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/pacers-health-5k-fun-runwalk')
      //-       h5 Pacers for Health 5K Fun Run/Walk
      //-     p
      //-       | Feel the cool breeze of the mighty Mississippi River as you run along its banks and enjoy the sights and sounds of New
      //-       | Orleans while supporting the PA Foundation.


      //- figure
      //-   a.events__photo(href='/uniformed-services-symposium-uss')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/ussevent.png', alt='')
      //-     span.text-center.date.date__tue
      //-       | 22
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/uniformed-services-symposium-uss')
      //-       h5 Uniformed Services Symposium (USS)
      //-     p
      //-       | Earn up to 7 AAPA Category 1 CME credits at this symposium designed for PAs who care for those serving our country.


      //- figure
      //-   a.events__photo(href='/obesity-leadership-edge-symposium')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/CME_Session.png', alt='')
      //-     span.text-center.date.date__wed
      //-       | 23
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/obesity-leadership-edge-symposium')
      //-       h5 Obesity Leadership Edge Symposium
      //-     p
      //-       | Earn up to 7.5 AAPA Category 1 CME credits while you build skills to lead a broad-based effort in diagnosing, managing
      //-       | and treating patients affected by obesity.


      //- figure
      //-   a.events__photo(href='/indian-health-service-symposium-ihs')
      //-     img.image--wrap(src='https://www.aapa.org/wp-content/uploads/2017/10/ihsevent.png', alt='')
      //-     span.text-center.date.date__wed
      //-       | 23
      //-       span.month MAY
      //-   .events__text
      //-     a(href='/indian-health-service-symposium-ihs')
      //-       h5 Indian Health Service Symposium (IHS)
      //-     p
      //-       | Attend to earn up to 3 AAPA Category 1 CME credits and learn how you’ll find professional fulfillment in caring for
      //-       | these vulnerable populations.



  section#map_wrapper
    figure#map_canvas.mapping
    .container
      figure.venue
        .venue__text
          .section-title
            h6.section-title__tagline Conference Event
            h2.section-title__title
              | Venues
              span.section-title__mark .
          address.venue-button
            h5
              | Ernest N. Morial
              br
              | Convention Center
            | 						900 Convention Center Blvd
            br
            | 						New Orleans, LA 70130
          address.venue-button
            h5
              | Hilton
              br
              | New Orleans Riverside
            | 						2 Poydras Street
            br
            | 						New Orleans, LA 70130




