extends layouts/default_layout
include mixins/special-events-cards
block title
  title AAPA 2018

block vendorCSS
  link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css", rel="stylesheet")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", attr)

block vendorScripts
  script(async='', defer='defer', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCHw9rWtVWl1JmE72GZ8kPs0Z2CmBdm_H8&callback=initializeVenueMap')
  script(src='js/components/googleMap-venue.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')
  script(src='js/components/tabs-horizontal.min.js')

block scripts
  script(src="js/pages/index.min.js")

include mixins/countdown
include mixins/section-title-center-stacked-top-w-sub
include mixins/section-title-left
include mixins/section-title-center
include mixins/section-title-double-left
include mixins/card-price
include mixins/carousel-item
include mixins/hotel
block content


  .owl-carousel.opening-slider
    +carousel-item(`background-image: url('images/hero-slider/hero-slider--skyline.jpg');`, `purple`, `Hello, Early Bird Rates!`, `These low rates have arrived – but they’re only sticking around until January 31. Register now to lock in your low price`, `Register Today`, `/register.html`, `teal`)
    +carousel-item(`background-image: url('https://www.aapa.org/wp-content/uploads/2016/11/jeff.jpg'); background-position: 50% 25%;`, `teal`, `Lessons in Leadership`, `PA Jeff Evans has led rescue teams on Mount Everest. Trauma teams in Iraq. And expeditions through some of the most challenging terrain on the planet. Hear him speak on servant leadership, communication and trust at General Session, Monday, May 20.`, `Read More`, `/keynote.html`, `purple`)
    +carousel-item(`background-image: url('images/hero-slider/hero-slider--bourbon-st.jpg');`, `pink`, `We’re Giving You $200 Off`, `Just book your hotel within the official AAPA hotel block and you’ll knock $200 off your registration. No prepayment or deposit required!`, `I'll take it`, `/housing-info-and-policies.html`, `blue`)
    +carousel-item(`background-image: url('images/hero-slider/hero-slider--cme.jpg');`, `blue`, `Get Your CME Certificates`, `Need your CME certificate from AAPA Conferences in 2015, 2016, or 2017? Log in to the CME Manager, claim your credits and print out your certificate now.`, `MAKE IT OFFICIAL`, `https://conferencescheduler.aapa.org/`, `lime`)
    +carousel-item(`background-image: url('images/hero-slider/hero-slider--hotel.jpg');`, `lime`, `Luxury, Louisiana Style`, `Win a VIP package worth more than $1,400 – including two nights at the Ritz and $400+ to spend at the city’s most famous restaurants! To enter, register and book your room in the official AAPA hotel block by December 31.`, `DON’T MISS OUT`, `/register.html`, `purple`)
    +carousel-item(`background-image: url('images/hero-slider/hero-slider--exhibit-sponsors.jpg');`, `pink`, `Exhibit & Sponsorship Opportunities`, `Get your product, service or technology in front of 5,000+ attendees at the only national PA conference. See all PAs can do – and you’ll see why you can’t miss AAPA 2018.`, `MAKE CONNECTIONS`, `http://s23.a2zinc.net/clients/aapas/AC18/Public/Enter.aspx`, `blue`)




  section.page-section.intro-split-section
    .container
      .intro-split-section__content
        +section-title-double-left(`Real Connections`, `.`, `Real Community`, `.`)
        p.lead Connect with leading CME, new career opportunities, your PA peers, New Orleans – and do it all in one place at one time, at the only national PA conference.
        p.lead Because real learning takes place face-to-face. Real relationships thrive on shared experiences. And a real community is built on real connections. The connections you make here will make all the difference.
      .intro-split-section__video
        .intro-split-section__video--table
          .intro-split-section__video--cell
            .respnsive-video-wrapper
              iframe(src='https://www.youtube.com/embed/CSOl7hBx0r0?showinfo=0&iv_load_policy=3&controls=0', frameborder='0', gesture='media', allowfullscreen='')


  +countdown


  section#register.page-section.bg-pattern--teal
    .container
      +section-title-center-stacked-top-w-sub(`Registration Discounts`, `.`, `Cyber Monday Prices are here!`, `From now through November 27th, Get our special discounted rate by staying in the AAPA hotel block.`)
      +card-price(`Member`, `$600`, `$800`, `purple`)
      +card-price(`Student Member`, `$165`, `$365`, `blue`)
      +card-price(`Nonmember`, `$1000`, `$1200`, `pink`)


  section.small-section.slant__section.bg-blue
    .slanted-angle-top
      svg.slanted-angle(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
        path(d='M0 0 L100 100 L0 100', stroke-width='0')
    .container
      +section-title-left(`Agenda`, `.`)

      #tabs.agenda-tabs
        nav.agenda-tabs__nav.text-center
          .nav_wrap
            a.agenda-tabs__nav--link.is-active(href='#')
              | Friday
              span May 18
            a.agenda-tabs__nav--link(href='#')
              | Saturday
              span May 19
            a.agenda-tabs__nav--link(href='#')
              | Sunday
              span May 20
            a.agenda-tabs__nav--link(href='#')
              | Monday
              span May 21
            a.agenda-tabs__nav--link(href='#')
              | Tuesday
              span May 22
            a.agenda-tabs__nav--link(href='#')
              | Wednesday
              span May 23
        .agenda-tabs__content-item.is-active
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 8:00 a.m. - 6:00 p.m.
                .agenda__item--name AAPA Board of Directors Meeting
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 1:00 p.m. - 7:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 3:30 p.m. - 7:00 p.m.
                .agenda__item--name House of Delegates Credentialing
              .agenda__item
                .agenda__item--time 6:30 p.m. - 8:00 p.m.
                .agenda__item--name House of Delegates Reference Committee Orientation
              .agenda__item
                .agenda__item--time 6:00 p.m. - 8:00 p.m.
                .agenda__item--name Student Academy Board Meeting
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 6:30 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 8:45 a.m.
                .agenda__item--name House of Delegates Delegate Orientation
              .agenda__item
                .agenda__item--time 8:00 a.m. - 5:00 p.m.
                .agenda__item--name House of Delegates Credentialing
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 9:00 a.m. - 3:00 p.m.
                .agenda__item--name Blood Drive
              .agenda__item
                .agenda__item--time 9:00 a.m. - 5:30 p.m.
                .agenda__item--name Assembly of Representatives (AOR) Meeting
              .agenda__item
                .agenda__item--time 9:00 a.m. - 5:00 p.m.
                .agenda__item--name House of Delegates Meeting
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 5:30 p.m. - 7:00 p.m.
                .agenda__item--name Shaking Hands & Taking Names
              .agenda__item
                .agenda__item--time 6:00 p.m. - 7:30 p.m.
                .agenda__item--name House of Delegates Reception (Invitation Only)
              .agenda__item
                .agenda__item--time 7:00 p.m. - 8:00 p.m.
                .agenda__item--name AAPA Distinguished Fellows Reception (Invitation Only)
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 7:00 a.m. - 7:45 a.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 7:00 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 9:00 a.m.
                .agenda__item--name House of Delegates Credentialing
              .agenda__item
                .agenda__item--time 8:00 a.m. - 3:30 p.m.
                .agenda__item--name House of Delegates Meeting
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 9:00 a.m. - 11:00 a.m.
                .agenda__item--name AAPA Career Fair
              .agenda__item
                .agenda__item--time 9:00 a.m. - 3:00 p.m.
                .agenda__item--name Blood Drive
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name AAPA Career Fair
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:30 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 4:00 p.m. - 5:30 p.m.
                .agenda__item--name General Session
              .agenda__item
                .agenda__item--time 6:00 p.m. - 7:00 p.m.
                .agenda__item--name Constituent Organization Leadership Forum
              .agenda__item
                .agenda__item--time 7:00 p.m. - 8:00 p.m.
                .agenda__item--name Constituent Organization Leadership Reception
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 7:00 p.m - 10:00 p.m.
                .agenda__item--name PA Foundation Event
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 7:00 a.m. - 7:45 a.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 7:00 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 11:00 a.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name House of Delegates Meeting
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name Research in Action
              .agenda__item
                .agenda__item--time 9:00 a.m. - 5:00 p.m.
                .agenda__item--name Exhibit Hall Open
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 12:30 p.m. - 2:00 p.m.
                .agenda__item--name Researchers Luncheon
              .agenda__item
                .agenda__item--time 12:30 p.m. - 3:30 p.m.
                .agenda__item--name PA Foundation Board Meeting
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 2:00 p.m. - 6:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 5:00 p.m. - 6:30 p.m.
                .agenda__item--name Veteran's Caucus Memorial Ceremony
              .agenda__item
                .agenda__item--time 6:30 p.m. - 7:30 p.m.
                .agenda__item--name Veteran's Caucus Memorial Reception
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 6:00 p.m. - 7:00 p.m.
                .agenda__item--name Program Directors Reception (Invitation Only)
              .agenda__item
                .agenda__item--time 7:00 p.m.
                .agenda__item--name AAPA's National Medical Challenge Bowl
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 6:30 a.m. - Race Start
                .agenda__item--name PA Foundation Pacers for Health 5K Fun Run/Walk
              .agenda__item
                .agenda__item--time 6:30 a.m. - 7:45 a.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 7:00 a.m. - 6:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name Arizona State University Capstone
              .agenda__item
                .agenda__item--time 8:00 a.m. - 11:00 a.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 9:00 a.m. - 2:30 p.m.
                .agenda__item--name Exhibit Hall Open
              .agenda__item
                .agenda__item--time 11:00 a.m. - 1:00 p.m.
                .agenda__item--name Exhibit Hall Brunch Bites
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 12:45 p.m.
                .agenda__item--name Product Theaters
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 2:00 p.m. - 6:00 p.m.
                .agenda__item--name CME Sessions & Workshops
              .agenda__item
                .agenda__item--time 5:30 p.m. - 8:00 p.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
        .agenda-tabs__content-item
          .agenda-tabs__content-item--inner
            section.agenda__tod
              h2.agenda__tod--headline AM Events
              .agenda__item
                .agenda__item--time 6:30 a.m. - 7:45 a.m.
                .agenda__item--name Satellite Symposia (eligible for CME)
              .agenda__item
                .agenda__item--time 7:00 a.m. - 3:00 p.m.
                .agenda__item--name Registration Open
              .agenda__item
                .agenda__item--time 8:00 a.m. - 12:00 p.m.
                .agenda__item--name CME Sessions & Workshops
            section.agenda__tod
              h2.agenda__tod--headline PM Events
              .agenda__item
                .agenda__item--time 12:00 p.m. - 2:00 p.m.
                .agenda__item--name ePoster Presentations
              .agenda__item
                .agenda__item--time 1:00 p.m. - 5:00 p.m.
                .agenda__item--name CME Sessions & Workshops
    .text-center
      a.btn.btn-lg.btn-circle.btn-lime.mt-base(href='') Download Agenda

    .slanted-angle-bottom
      svg.slanted-angle(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
        path(d='M100,100L0,0h100', stroke-width='0')


  section.page-section.bg-pattern--purple
    +section-title-center(`Special Events`, `.`)
    .events.owl-carousel
      +special-events-cards


  section#map_wrapper
    figure#map_canvas.mapping
    .container
      figure.venue
        .venue__text
          .section-title
            h6.section-title__tagline Conference Event
            h2.section-title__title
              | Venues
              span.section-title__mark .
          address.venue-button
            h5
              | Ernest N. Morial
              br
              | Convention Center
            | 						900 Convention Center Blvd
            br
            | 						New Orleans, LA 70130
          address.venue-button
            h5
              | Hilton
              br
              | New Orleans Riverside
            | 						2 Poydras Street
            br
            | 						New Orleans, LA 70130




