extends layouts/default_layout
include mixins/page-title-img
block content
	+page-title-img(`background-image: url('images/hero-images/hero__keynote.jpg'); background-position: 50% 20%;`, `Keynote`, `Keynote Speaker`)