extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - Obesity Leadership Edge Symposium
block vendorScripts
	script(src="js/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('../images/event-pages/CME3-hero.jpg'); background-position: 50% 35%;`, `Obesity Leadership Edge Symposium`, `Obesity Leadership Edge Symposium`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="images/event-pages/CME2-event.jpg", alt="Obesity Leadership Edge Symposium")
				article
					h3 Obesity Leadership Edge Symposium
					p.lead Do your part to fight the obesity epidemic with this symposium! Earn up to 7.5 AAPA Category 1 CME credits while you build skills to lead a broad-based effort in diagnosing, managing and treating patients affected by obesity. You’ll hear about the science of obesity, see the latest in obesity medications, hear about new bariatric surgery approaches, learn how to prescribe physical activity – and much more.

				+event-footer
			+event-sidebar