extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - Pacers for Health 5K Fun Run/Walk
block vendorScripts
	script(src="js/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('images/event-pages/FunRun-hero.jpg'); background-position: 50% 45%;`, `Pacers for Health 5K Fun Run/Walk`, `Pacers for Health 5K Fun Run/Walk`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="images/event-pages/FunRun-event.jpg", alt="Pacers for Health 5K Fun Run/Walk")
				article
					h3 Pacers for Health 5K Fun Run/Walk
					h4 6:30 a.m. Race Start
					p.lead Feel the cool breeze of the mighty Mississippi River as you run along its banks and enjoy the sights and sounds of New Orleans while supporting the PA Foundation. Funds raised will support the Foundation’s mission of empowering PAs to improve health through philanthropy and service.

				+event-footer
			+event-sidebar