extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar
include mixins/single-event-days

block title
	title AAPA 2018 - Pacers for Health 5K Fun Run/Walk
block scripts
	script(src="js/getTweets.js")
block content
	+page-title-img(`background-image: url('img/event-pages/FunRun-hero.jpg'); background-position: 50% 45%;`, `Pacers for Health 5K Fun Run/Walk`, `Pacers for Health 5K Fun Run/Walk`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				+single-event-days('pacers-health-5k-fun-runwalk')
				article
					h3 Pacers for Health 5K Fun Run/Walk
					h4 6:30 a.m. Race Start
					p.lead Feel the cool breeze of the mighty Mississippi River as you run along its banks and enjoy the sights and sounds of New Orleans while supporting the PA Foundation. Funds raised will support the Foundation’s mission of empowering PAs to improve health through philanthropy and service.

				+event-footer
			+event-sidebar