extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar
include mixins/single-event-days

block title
	title AAPA 2018 - Product Theaters
block vendorScripts
	script(src="libraries/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('images/event-pages/ProductTheaters-hero.jpg');`, `Product Theaters`, `Product Theaters`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				+single-event-days('product-theaters')
				article
					h3 Product Theaters
					p.lead Learn about the latest products and technologies at these free 45-minute sessions that include breakfast or lunch!*
					p
						em
							small *Product Theaters are not CME-eligible and are limited to 350 participants on a first-come, first-served basis. Not all days include both a breakfast and lunch session.
					.text-center.promo-section
						h5 Looking to sponsor a product theater?
						div.inline-list.text-center
							li
								a.btn.btn-purple(href='http://s23.a2zinc.net/clients/aapas/AC18/Public/Content.aspx?ID=78&sortMenu=104002', target='_blank', rel='noopener') Become a Sponsor

				+event-footer
			+event-sidebar