extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - Shaking Hands & Taking Names

block content
	+page-title-img(`background-image: url('images/event-pages/ShakingHands-hero.jpg'); background-position: 50% 25%;`, `Shaking Hands & Taking Names`, `Shaking Hands & Taking Names`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="images/event-pages/ShakingHands-event.jpg", alt="Shaking Hands & Taking Names")
				article
					h3 Shaking Hands & Taking Names
					p.lead Designed just for students! Don’t miss this chance to socialize, share and network with fellow PA students.

				+event-footer
			+event-sidebar