extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - Student SPARK Sessions
block vendorScripts
	script(src="libraries/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('images/event-pages/SparkSession-hero.jpg'); background-position: 50% 25%;`, `Student SPARK Sessions`, `Student SPARK Sessions`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="images/event-pages/SparkSession-event.jpg", alt="Student SPARK Sessions")
				article
					h3 Student SPARK Sessions
					p.lead SPARK Sessions will give you advice and knowledge for every phase of your PA student career – and beyond!

				+event-footer
			+event-sidebar