extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - Uniformed Services Symposium (USS)
block vendorScripts
	script(src="libraries/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('../images/event-pages/CME4-hero.jpg'); background-position: 50% 35%;`, `Uniformed Services Symposium (USS)`, `Uniformed Services Symposium (USS)`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="images/event-pages/USS-event.jpg", alt="Uniformed Services Symposium (USS)")
				article
					h3 Uniformed Services Symposium (USS)
					p.lead Earn up to 7 AAPA Category 1 CME credits at this symposium designed for PAs who care for those serving our country. Your educational needs are unique, as are the patients you serve – from the active duty and retired service members and their families at home and abroad to the marginalized and underserved populations across multiple federal agencies. Plus, network with other PAs who work in similar situations!

				+event-footer
			+event-sidebar


