extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar

block title
	title AAPA 2018 - Veterans Caucus Memorial Ceremony and Reception

block content
	+page-title-img(`background-image: url('http://via.placeholder.com/1300x866');`, `Veterans Caucus Memorial Ceremony and Reception`, `Veterans Caucus Memorial Ceremony and Reception`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				header.event-main-photo
					img(src="http://via.placeholder.com/850x478", alt="Veterans Caucus Memorial Ceremony and Reception")
				article
					h3 Veterans Caucus Memorial Ceremony and Reception
					h4
						strong Presented by the Veterans Caucus of AAPA
						p
							strong
								| Monday, May 21, 2018
								br
								| Ceremony: 5 – 6:30 p.m. (Seating begins at 4:45 p.m.)
								br
								| Reception: 6:30 – 7:30 p.m.
						p
							| All conference attendees are encouraged to participate in this annual event which honors fallen PAs and the profession’s military roots with music and military symbolism. The theme of the 2018 ceremony is “US Coast Guard: Homeland and Beyond.”
						p
							| Veterans Caucus scholarship recipients will also be recognized during this event.

				footer
					span
						i.fa.fa-share-alt
						| share
					ul.post-share
						li
							a(href='#')
								i.fa.fa-facebook
						li
							a(href='#')
								i.fa.fa-twitter
						li
							a(href='#')
								i.fa.fa-linkedin
						li
							a(href='#')
								i.fa.fa-skype
						li
							a(href='#')
								i.fa.fa-behance


			aside.event-sidebar
				.widget
					h4 Special Events
					.widget-flex
						+event-sidebar