extends layouts/default_layout
include mixins/page-title-img
include mixins/event-single-sidebar
include mixins/single-event-days

block title
	title AAPA 2018 - Veterans Caucus Memorial Ceremony and Reception
block vendorScripts
	script(src="libraries/twitterFetcher_min.js")
block scripts
	script.
		twitterFetcher.fetch(twitterFeed);
block content
	+page-title-img(`background-image: url('images/event-pages/VeteransCaucusMemorial-hero.jpg');`, `Veterans Caucus Memorial Ceremony and Reception`, `Veterans Caucus Memorial Ceremony and Reception`)

	section.small-section.bg-pattern--blue
		.container
			main.event-main
				+single-event-days('veterans-caucus-memorial-ceremony-reception')
				article
					h3 Veterans Caucus Memorial Ceremony and Reception

					h4.text-center Presented by the Veterans Caucus of AAPA
					p.lead.text-center(style='margin-bottom: 8px;') Monday, May 21, 2018
					ul.inline-list.text-center.mb-base
						li
							span.block(style='display: block;text-transform: uppercase;font-size: 14px;letter-spacing: 1px;font-weight: 700;line-height: 1.2;') Ceremony:
							|	5:00 – 6:30 p.m.
						li
							span.block(style='display: block;text-transform: uppercase;font-size: 14px;letter-spacing: 1px;font-weight: 700;line-height: 1.2;') Reception:
							|	6:30 – 7:30 p.m.
					p All conference attendees are encouraged to participate in this annual event which honors fallen PAs and the profession’s military roots with music and military symbolism. The theme of the 2018 ceremony is “US Coast Guard: Homeland and Beyond.”
					p Veterans Caucus scholarship recipients will also be recognized during this event.

				+event-footer
			+event-sidebar

