mixin countdown
  section.countdown__cta
    .container
      .countdown__cta--text
        h1 Register Now
        p.headline-lowercase Before our lowest rates disapear!
      .countdown__cta--text
        ul#countdown.js-countdown
          li.text-center
            span.days 143
            p Days
          li.text-center
            span.hours 01
            p Hours
          li.text-center
            span.minutes 10
            p Minutes
          li.text-center
            span.seconds 56
            p Seconds