mixin page-title-img(heroImageStyles, pageName)
	section.page-section.secondary-page-title(style= heroImageStyles)
		.secondary-page-title__inner.text-center
			h1 Contact Information
			ul.breadcrumb
				li
					a(href='index.html') Home
				li= pageName