mixin section-title-center-stacked-top-w-sub(headline, punct, tagline, lead)
	.section-title.text-center
		h6.section-title__tagline.lead.mb-0= tagline
		h2.section-title__title= headline
			span.section-title__mark= punct
		p.section-title__subtitle.lead= lead
