mixin section-title-double-left(headline1, punct1, headline2, punct2)
	.section-title--stacked
		h2.section-title--stacked__title.mb-0= headline1
			span.section-title__mark= punct1
		h2.section-title--stacked__title.mb-0= headline2
			span.section-title__mark= punct2