mixin special-events-mixitup-cards
	include ../components/data/data-events
	each event in events
		figure.event-card.mix(class=(event.saturday)? "saturday" : "", class=(event.sunday)? "sunday" : "", class=(event.monday)? "monday" : "", class=(event.tuesday)? "tuesday" : "", class=(event.wednesday)? "wednesday" : "")
			a.event-card-photo(href= './' + event.slug + '.html')
				img(src='img/event-pages/' + event.filePrefix + '-card.jpg', alt= event.eventName)
				if event.friday
					span.text-center.date.date__sat
						| 18
						span.month MAY
				else
				if event.saturday
					span.text-center.date.date__sat
						| 19
						span.month MAY
				else
				if event.sunday
					span.text-center.date.date__sun
						| 20
						span.month MAY
				else
				if event.monday
					span.text-center.date.date__mon
						| 21
						span.month MAY
				else
				if event.tuesday
					span.text-center.date.date__tue
						| 22
						span.month MAY
				else
				if event.wednesday
					span.text-center.date.date__wed
						| 23
						span.month MAY
				else
			figcaption.event-card-text
				h4.event-card-text-title= event.eventName
				p= event.eventDesc