.event-card {
	$card-event-date-width: 20%;

	&-photo {
		display: inline-block;
		line-height: 0;
		position: relative;

		.date {
			background: $color-purple-light;
			color: $white;
			line-height: $heading-line-height;
			width: $card-event-date-width;
			@extend %card-title;
			@include padding($x-small-spacing null);
			@include position(absolute, null null 0 0);

			.month {
				display: block;
				@extend %text-nav;
			}

			&:nth-of-type(2) {
				left: $card-event-date-width;
			}

			&:nth-of-type(3) {
				left: $card-event-date-width * 2;
			}

			&:nth-of-type(4) {
				left: $card-event-date-width * 3;
			}

			&:nth-of-type(5) {
				left: $card-event-date-width * 4;
			}

			&__sat {
				background: $color-purple-light;
			}

			&__sun {
				background: shade($color-purple-light, 3%);
			}

			&__mon {
				background: shade($color-purple-light, 6%);
			}

			&__tue {
				background: shade($color-purple-light, 9%);
			}

			&__wed {
				background: shade($color-purple-light, 12%);
			}
		}
	}

	&-text {
		padding: $base-spacing;

		&-title {
			color: $color-purple-light;
			font-weight: $font-weight--medium;
			@extend %card-title;
		}
	}
}
