.featured-item-small {
	cursor: pointer;
	display: inline-block;
	margin-bottom: $small-spacing;
	overflow: hidden;
	padding: $small-spacing;
	position: relative;
	vertical-align: top;
	@include mq($min-width: $cards-brk-sm) {
		@include grid-column(4);
	}

	&::after {
		background-color: transparentize($color-gray, 0.9);
		content: '';
		opacity: 0;
		transform: scale(0.5);
		transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
		@include size(100%);
		@include position(absolute, null null 0 0);
	}

	&:hover {
		.featured-item-small-title {
			color: $color-purple;
		}

		.featured-item-small-icon {
			fill: $color-purple;
		}

		&::after {
			opacity: 1;
			transform: none;
		}
	}

	&-icon {
		fill: $color-black;
		height: $large-spacing;
		margin-bottom: $x-small-spacing;
		position: relative;
	}

	&-title {
		font-weight: $font-weight--medium;
		line-height: $base-line-height;
		margin-bottom: $x-small-spacing;
		@extend %accordion-title;
	}

	&-desc {
		color: $color-gray;
		font-size: 13px;
		font-weight: $font-weight--light;
		max-width: 200px;
		@include margin(null auto);
	}
}
