$venue_map-height: 550px;

#map_wrapper {
	height: $venue_map-height;
	position: relative;
	width: 100%;
}

#map_canvas {
	@include size(100%);
	@include position(absolute, 0);
}

.venue {
	background: $color-blue;
	color: $color-snow;
	float: left;
	height: $venue_map-height;
	padding: $small-spacing $base-spacing;
	position: relative;

	.section-title {
		text-shadow: $venue-title-shadow;

		&__title {
			color: $color-snow;
		}

		&__tagline {
			color: $color-lime;
			margin-bottom: $x-small-spacing;
		}

		&__mark {
			color: $color-lime;
		}
	}
}

address.venue-button {
	cursor: pointer;
	font-style: normal;
	transition: color $base-duration $base-timing;
	@include margin($base-spacing null);

	&:hover {
		color: shade($color-snow, 12%);

		h5 {
			color: shade($color-lime, 12%);
		}
	}

	h5 {
		color: $color-lime;
		font-weight: $font-weight--regular;
		margin-bottom: 4px;
		@extend %card-title;
	}
}


// Flexbox Styles
html.flexbox {
	#map_wrapper {
		.container {
			align-content: flex-start;
			display: flex;
		}
	}

	.venue {
		display: flex;
		float: none;

		&__text {
			align-self: center;
		}
	}
}