$btn-height: 42px;
$btn-width: $btn-height * 3;
$hotel-card-padding: ($base-spacing + $small-spacing) $base-spacing $base-spacing;

.container-flex {
	@include mq($min-width: $cards-brk-sm) {
		display: flex;
		flex-wrap: wrap;
	}
}

.hotel {
	background-color: $color-snow;
	border-radius: 0;
	min-height: 1px;
	padding-bottom: $btn-height;
	position: relative;
	@extend %card;

	@include mq($min-width: $cards-brk-sm) {
		max-width: 100%;
		@include grid-column(6);
	}
	@include mq($min-width: $page-section-lg) {
		@include grid-column(4);
	}

	&-img {
		position: relative;

		> img {
			display: block;
			height: auto;
			max-width: 100%;
			width: auto;
		}
	}

	&-rating {
		background-color: $color-blue;
		bottom: 0;
		color: $white;
		left: 50%;
		margin-left: -50px;
		padding: $x-small-spacing $small-spacing;
		position: absolute;
		width: 100px;

		svg {
			fill: #fff;
			max-height: $small-spacing;
			max-width: $small-spacing;
		}
	}

	&-content {
		padding: $hotel-card-padding;
	}

	&-title {
		font-size: calcRem(16);
		font-weight: $font-weight--black;
		letter-spacing: $base-letter-spacing;
		margin-bottom: $x-small-spacing;
		text-transform: uppercase;
	}

	&-caption {
		color: $color-gray;
		font-size: calcRem(14);
		letter-spacing: $base-letter-spacing;
		margin-bottom: $x-small-spacing;
	}

	&-btn {
		border-radius: 0;
		font-weight: $font-weight--bold;
		height: $btn-height;
		line-height: $btn-height;
		margin-left: (- $btn-width / 2);
		padding: 0;
		text-transform: uppercase;
		width: $btn-height * 3;
		z-index: $base-z-index + 1;
		@include position(absolute, null null 0 50%);

		&.active {
			background-color: $color-pink;
		}
	}

	&-details {
		align-items: center;
		background-color: $color-teal;
		display: flex;
		justify-content: center;
		opacity: 0.9;
		padding: $hotel-card-padding;
		transition: transform 0.75s;
		@include size(101%);
		@include position(absolute, 100% 0 null null);

		&-inner {
			flex: 1;
		}

		h5 {
			display: inline-block;
			position: relative;
			@extend %text-card-headline;

			&::after {
				background-color: $color-pink;
				bottom: -1px;
				content: '';
				display: block;
				height: 2px;
				left: 0;
				width: 100%;
			}
		}

		dl {
			line-height: 2.25;

			dd {
				float: left;
			}

			dt {
				border-bottom: 1px dashed $color-snow;
				font-weight: $font-weight--bold;
				text-align: right;

				&:last-child {
					border-bottom: 0;
				}
			}
		}

		&.show-hotel-details {
			transform: translateY(-100%);
		}
	}

	&-shuttle {
		display: inline-block;
		line-height: 1;
		position: relative;
		@include padding($small-spacing $base-spacing $small-spacing null);

		&::after {
			background-image: url('../images/icons/icon--shuttle.svg');
			background-size: contain;
			content: '';
			display: block;
			margin-top: -0.5rem;
			@include position(absolute, 50% 0 null null);
			@include size(1rem);
		}
	}
}
