$timeline-color: $color-purple;


// Timeline
#timeline {
	margin: $base-spacing;
	position: relative;
	transition: all 0.4s ease;
	width: 90%;
	@include clearfix;
	&::before {
		background-color: $timeline-color;
		content: '';
		@include size(3px 100%);
		@include position(absolute, 0 null null 0);
	}
	@include mq($min-width: $page-section-lg) {
		width: 100%;
		@include padding(null $small-spacing);
		@include margin(null auto);

		&::before {
			left: 50%;
		}
	}

	.timeline-item {
		margin-bottom: $large-spacing;
		position: relative;
		@include clearfix;

		.timeline-icon {
			margin-left: -($large-spacing / 2);
			overflow: hidden;
			@include position(absolute, 0 null null 0);
			@include size($large-spacing);
			@include mq($min-width: $page-section-lg) {
				left: 50%;
			}
		}

		.timeline-content {
			background-color: $color-snow;
			border-radius: $large-border-radius;
			box-shadow: $boxshadow-large;
			float: right;
			overflow: hidden;
			// padding: 20px;
			transition: all 0.3s ease;
			width: 90%;
			@include mq($min-width: $page-section-lg) {
				float: none;
				width: 45%;
			}

			&::before {
				content: '';
				position: absolute;
				@include position(absolute, 16px null null 45%);
				@include triangle(16px, $timeline-color, right);
			}

			&.right {
				@include mq($min-width: $page-section-lg) {
					float: right;

					&::before {
						border-left: 0;
						left: inherit;
						right: 45%;
						@include triangle(16px, $timeline-color, left);
					}
				}
			}

			h2 {
				background: $timeline-color;
				color: $white;
				font-weight: $font-weight--medium;
				letter-spacing: $base-letter-spacing;
				margin-bottom: 0;
				padding: $small-spacing;
				@extend %text-agenda-subtitle-date;
				@include mq($min-width: $page-section-lg) {
					text-align: center;
				}
				> span {
					display: block;
					font-weight: $font-weight--light;
				}
			}

			&-body {
				padding: $card-inner-padding;
			}
		}
	}
}

@media screen and (max-width: $page-section-lg) {
	#timeline {
		// margin: 25px;
		// padding: 0;
		// width: 90%;

		// &::before {
		// 	left: 0;
		// }

		.timeline-item {
			.timeline-content {
				&::before,
				&.right::before {
					border-left: 0;
					border-right: 7px solid $timeline-color;
					left: 10%;
					margin-left: -6px;
				}
			}
		}
	}
}
