$tab-border: $base-border-size solid $color-pink-d;

.vertical-tabs {
	border-radius: $base-border-radius;
	border-top: $tab-border;
	margin-bottom: $base-spacing;
	@include clearfix;
	@include mq($max-width: $cards-brk-sm) {
		border: $tab-border;
	}

	&__nav {
		display: none;
		@include mq($min-width: $cards-brk-sm) {
			border-left: $tab-border;
			display: inline-block;
			float: left;
			width: 20%;
			width: 235px; // tabs-content calc(100% - 235px);
		}

		&--item {
			@include mq($min-width: $cards-brk-sm) {
				background-color: $color-snow;
				border-bottom: $tab-border;
				color: $color-black;
				cursor: pointer;
				display: block;
				font-weight: $font-weight--medium;
				margin-right: -$base-border-size;
				position: relative;
				@include padding($small-spacing $x-small-spacing $small-spacing ($small-spacing + $x-small-spacing));

				&:hover {
					background-color: $color-pink-l;
					color: $color-black;

					&::after {
						background-color: tint($color-pink-d, 20%);
					}
				}

				&::after {
					background-color: transparent;
					content: '';
					display: block;
					height: 100%;
					width: $x-small-spacing;
					@include position(absolute, 0 null 0 0);
				}

				&.is-active {
					background-color: $color-pink;
					color: $black;

					&::after {
						background-color: $color-pink-d;
					}
				}
			}
		}
	}

	.vertical-tab--content {
		@include mq($min-width: $cards-brk-sm) {
			background-color: $color-pink;
			display: inline-block;
			position: relative;
			width: 80%;
			width: calc(100% - 235px); // tabs navsize 235px

			&::after {
				background-color: $color-pink-d;
				content: '';
				display: block;
				height: 1rem;
				width: 100%;
			}
		}

		&--item {
			background-color: $color-pink;
			padding: $base-spacing;

			@include mq($min-width: $cards-brk-sm) {
				display: none;
				min-height: 400px;
			}
		}
	}

	.vertical-tab-accordion-heading {
		background-color: $color-pink-l;
		border-top: $tab-border;
		color: $color-black;
		cursor: pointer;
		display: block;
		font-weight: $font-weight--medium;
		padding: $small-spacing $base-spacing;
		@include mq($min-width: $cards-brk-sm) {
			display: none;
		}

		&:focus,
		&:hover,
		&.is-active {
			background-color: $color-pink;
			color: $black;

			&:focus,
			&:hover {
				color: inherit;
			}
		}

		&:first-child {
			border-top: 0;
		}
	}
}



// Alt Agenda - Vertical Tabs


.alt-agenda-tabs-container {
	@include clearfix;

	.alt-agenda-tabs {
		display: none;

		@include mq($min-width: $page-section-md) {
			background-color: $accordion-color;
			display: inline-block;
			float: left;
			width: 20%;
		}

		&-title {
			display: none;
			@extend %accordion-title;
			@include mq($min-width: $page-section-md) {
				background-color: $accordion-color;
				border-bottom: 1px solid $accordion-active;
				color: $white;
				display: block;
				@include padding($small-spacing null);
				@include clearfix;

				span {
					display: block;
					float: left;
					font-weight: $font-weight--bold;
					letter-spacing: $base-letter-spacing;
					padding-left: $base-grid-gutter;

					&:first-of-type {
						width: 200px;
					}

					&:last-of-type {
						width: calc(100% - 200px);
					}
				}
			}
		}
	}

	.alt-agenda-tab {
		> span {
			@extend %accordion-title;
		}
		@include mq($min-width: $page-section-md) {
			background-color: $accordion-color;
			border-bottom: 1px solid $accordion-active;
			color: #fff;
			display: block;
			font-size: calcRem(20);
			padding: $small-spacing $base-grid-gutter;

			&.is-active {
				background: $accordion-active;
				border-bottom: 0;
			}

			> span {
				display: block;
				line-height: $base-line-height;
			}
		}
	}

	.alt-agenda-tab-content-container {
		background: $white;
		display: block;

		&::after {
			background-color: $accordion-accent;
			content: '';
			display: block;
			height: 1rem;
			width: 100%;
		}

		@include mq($min-width: $page-section-md) {
			display: inline-block;
			float: left;
			width: 80%;
		}
	}

	.alt-agenda-tab-content {
		@include mq($min-width: $page-section-md) {
			display: none;
		}
	}

	.alt-agenda-tab-accordion-heading {
		background-color: $color-purple-light;
		border-bottom: 1px solid $accordion-accent;
		color: $white;
		cursor: pointer;
		display: block;
		padding: 1rem;
		padding-right: $base-spacing + $small-spacing;
		position: relative;
		transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
		@extend %card-title;

		> span {
			display: block;
			line-height: $heading-line-height;
			@extend %accordion-title;
		}

		&::after {
			background-image: url('../images/icons/accordion-plus.png?text=fallback');
			background-image: url('../images/icons/accordion-plus.svg');
			background-size: contain;
			content: '';
			display: block;
			transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
			@include position(absolute, 50% $base-spacing null null);
			@include size($small-spacing);
			@include margin((-$x-small-spacing) (-$x-small-spacing) null null);
		}

		&:hover {
			background-color: $accordion-active;
		}

		&.is-active {
			background-color: $accordion-active;
			color: $color-teal;
			cursor: default;

			&::after {
				background-image: url('../images/icons/accordion-plus-teal.png?text=fallback');
				background-image: url('../images/icons/accordion-plus-teal.svg');
				transform: rotate(-225deg);
				@include size(1rem);
				@include margin((-0.5rem) (-0.5rem) null null);
			}
		}

		@include mq($min-width: $page-section-md) {
			display: none;
		}
	}
}

.agenda-item {
	background: $color-snow;
	border-bottom: $base-border;
	color: $base-font-color;
	display: block;
	padding: $small-spacing;
	@include clearfix;

	> * {
		line-height: $heading-line-height;
	}

	&--time {
		@extend %accordion-title;
	}

	&--event {
		@extend %lead;
	}

	@include mq($min-width: $page-section-md) {
		padding-left: 0;
		padding-right: 0;

		> * {
			padding-left: $base-grid-gutter;
		}
	}

	@include mq($min-width: $cards-brk-sm) {
		> * {
			float: left;
			font-size: 14px !important;

			&:first-of-type {
				width: 200px;
			}

			&:last-of-type {
				width: calc(100% - 200px);
			}
		}
	}
}

.flexbox {
	@include mq($min-width: $page-section-md) {
		.alt-agenda-tabs-container {
			display: flex;
		}
	}
}
