.bg-pattern--teal {
	background: url('../images/backgrounds/bg_teal-triangles.png');
	background-image: url('../images/backgrounds/bg_teal-triangles.svg'), none;
}

.bg-pattern--purple {
	background: url('../images/backgrounds/bg_purple-triangles.png');
	background-image: url('../images/backgrounds/bg_purple-triangles.svg'), none;

	// Typography
	.headline {
		color: $white;
	}
}

@each $color-name, $color-value in $named-color-list {
	.bg-#{$color-name} {
		background-color: $color-value !important;
	}
}
