$bg-color-name-list: purple, teal, lime, pink, blue;

@each $bg-color in $bg-color-name-list {
	.bg-pattern--#{$bg-color} {
		background: url('../images/backgrounds/bg_#{$bg-color}-triangles.png');
		background-image: url('../images/backgrounds/bg_#{$bg-color}-triangles.svg'), none;
	}
}


@each $color-name, $color-value in $named-color-list {
	.bg-#{$color-name} {
		background-color: $color-value !important;
	}
}
