$bg-color-name-list: purple, teal, lime, pink, blue;

@each $bg-color in $bg-color-name-list {
	.bg-pattern--#{$bg-color} {
		background: url('../images/backgrounds/bg_#{$bg-color}-triangles.png');
		background-image: url('../images/backgrounds/bg_#{$bg-color}-triangles.svg'), none;
	}
}

.bg-pattern--purple,
.bg-blue {
	[class*=section-title] {
		color: $white;
	}

	.section-title__mark {
		color: $color-pink;
	}
}

.bg-pattern--teal {
	.section-title__title::after {
		background-color: $color-blue;
	}
}

@each $color-name, $color-value in $named-color-list {
	.bg-#{$color-name} {
		background-color: $color-value !important;

		.slanted-angle {
			fill: $color-value;
		}
	}
}


// Slants
.slant__container {
	position: relative;
	z-index: 3;
	@include grid-container;
}

.slant__section {
	overflow: visible !important;
	z-index: 4;
	@include mq($max-width: $page-section-md) {
		@include padding(60px null);
	}

	&.has-bottom {
		z-index: 5;

		&:not(.has-top) {
			&:nth-child(1) {
				z-index: 19;
			}

			&:nth-child(2) {
				z-index: 18;
			}

			&:nth-child(3) {
				z-index: 17;
			}

			&:nth-child(4) {
				z-index: 16;
			}

			&:nth-child(5) {
				z-index: 15;
			}

			&:nth-child(6) {
				z-index: 14;
			}

			&:nth-child(7) {
				z-index: 13;
			}

			&:nth-child(8) {
				z-index: 12;
			}

			&:nth-child(9) {
				z-index: 11;
			}

			&:nth-child(10) {
				z-index: 10;
			}

			&:nth-child(11) {
				z-index: 9;
			}

			&:nth-child(12) {
				z-index: 8;
			}

			&:nth-child(13) {
				z-index: 7;
			}

			&:nth-child(14) {
				z-index: 6;
			}

			&:nth-child(15) {
				z-index: 5;
			}
		}

		&.has-top {
			z-index: 20;
		}
	}
}

[class*=slanted-angle-] {
	height: $page-section-pad / 2;
	left: 0;
	position: absolute;
	width: 100%;
	@include mq($min-width: $page-section-sm) {
		height: $page-section-pad-sm / 2;
	}
	@include mq($min-width: $page-section-md) {
		height: $page-section-pad-md / 2;
	}
	@include mq($min-width: $page-section-lg) {
		height: $page-section-pad-lg / 2;
	}

	svg {
		height: 101%;
	}
}

.slanted-angle {
	display: block;
	position: relative;
	@include margin(null auto);

	&-top {
		bottom: 100%;
	}

	&-bottom {
		top: 100%;
	}
}
