.container {
	@include grid-container;
	@include padding(null $small-spacing);
	@include margin(null auto);
	max-width: $container-max-width;
}

.page-section,
.small-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.page-section {
	padding: 60px 0;
	@include mq($min-width: 480px) {
		padding: 80px 0;
	}
	@include mq($min-width: 768px) {
		padding: 120px 0;
	}
	@include mq($min-width: 1024px) {
		padding: 140px 0;
	}
}