symbol#slider-nav-prev(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 504 504')
  polygon(points='348.6 504 407.4 445.2 214.2 252 407.4 58.8 348.6 0 96.6 252 348.6 504', style='fill:#fff')

symbol#slider-nav-next(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 504 504')
  polygon(points='155.4 0 96.6 58.8 289.8 252 96.6 445.2 155.4 504 407.4 252 155.4 0', style='fill:#fff')
