svg(style='display: none', xmlns='http://www.w3.org/2000/svg')

	symbol(id='icon-location', viewBox='0 0 60 60')
		path(d='M40.94 5.617C37.318 1.995 32.502 0 27.38 0c-5.123 0-9.938 1.995-13.56 5.617C7.117 12.32 6.284 24.93 12.016 32.57L27.38 54.756 42.72 32.6c5.756-7.67 4.923-20.28-1.78-26.983zM27.557 26c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z', fill='#63d0df')

	symbol(id='icon-calender', viewBox='0 0 485.213 485.212')
		path(d='M60.652 75.816V15.163C60.652 6.78 67.432 0 75.817 0c8.38 0 15.16 6.78 15.16 15.163v60.653c0 8.38-6.78 15.16-15.16 15.16-8.384.002-15.165-6.78-15.165-15.16zm257.772 15.162c8.378 0 15.163-6.78 15.163-15.16V15.162C333.587 6.78 326.802 0 318.424 0c-8.382 0-15.168 6.78-15.168 15.163v60.653c0 8.38 6.786 15.162 15.168 15.162zm166.788 272.928c0 66.996-54.312 121.307-121.303 121.307-66.988 0-121.304-54.31-121.304-121.307 0-66.986 54.315-121.3 121.302-121.3 66.99 0 121.302 54.313 121.302 121.3zm-30.322 0c0-50.16-40.81-90.976-90.98-90.976-50.166 0-90.976 40.814-90.976 90.976 0 50.17 40.81 90.98 90.976 90.98 50.17 0 90.98-40.81 90.98-90.98zm-333.585-181.95H60.652v60.65h60.653v-60.65zM60.652 333.583h60.653V272.93H60.652v60.654zm90.977-90.978h60.652v-60.65H151.63v60.65zm0 90.978h60.652V272.93H151.63v60.654zM30.326 360.89V151.63H363.91v60.653h30.327V94c0-18.42-14.692-33.35-32.843-33.35h-12.647v15.167c0 16.7-13.596 30.325-30.322 30.325-16.73 0-30.326-13.624-30.326-30.325V60.65H106.14v15.167c0 16.7-13.593 30.325-30.322 30.325-16.733 0-30.327-13.624-30.327-30.325V60.65H32.86C14.706 60.65 0 75.58 0 94v266.892c0 18.36 14.707 33.346 32.86 33.346h179.423v-30.33H32.86c-1.375-.002-2.532-1.42-2.532-3.017zm272.928-118.284v-60.65h-60.648v60.65h60.648zm106.143 121.3h-45.49v-45.49c0-8.377-6.782-15.158-15.164-15.158s-15.16 6.78-15.16 15.158v60.658c0 8.378 6.778 15.163 15.16 15.163H409.4c8.38 0 15.162-6.785 15.162-15.163 0-8.382-6.78-15.168-15.163-15.168z', fill='#63d0df')

	symbol(id='logo-primary', viewBox='0 0 576 247.9')
		defs
			style.
				.a {
				fill: #7773b5;
				}
				.b {
				fill: #6d4890;
				}
				.c {
				fill: #68cbda;
				}
				.d {
				fill: #616db3;
				}
				.e {
				fill: #634883;
				}
		title logo_small
		polygon.a(points='502.7 0 429.3 161.3 502.7 161.3 502.7 0')
		polygon.b(points='502.7 0 502.7 161.3 576 161.3 502.7 0')
		polygon.c(points='12 134.9 134.7 134.9 73.3 0 12 134.9')
		polygon.d(points='0 161.3 146.7 161.3 134.7 134.9 12 134.9 0 161.3')
		polygon.d(points='172.3 134.9 295 134.9 233.7 0 172.3 134.9')
		polygon.c(points='160.3 161.3 307 161.3 295 134.9 172.3 134.9 160.3 161.3')
		rect.a(x='319.9' width='61.7' height='134.91')
		rect.c(x='319.9' y='134.9' width='61.7' height='26.43')
		path.b(d='M381.6,0V134.9A67.5,67.5,0,0,0,381.6,0Z')
		path.e(d='M319.8,246.5v-1.3c0-9,3.1-17.6,19.4-28,9.5-6.1,13.2-9,13.2-15.4s-3.9-9-9.7-9-10.7,3.3-14.6,9.1l-7.8-5.4c5-7.7,12.2-13.1,22.8-13.1,12.1,0,19.4,7,19.4,17.6,0,7.5-2.8,13.2-14.6,20.8-9.9,6.3-14.9,11.1-16,15.6h31v9.2Z')
		path.e(d='M392.1,215.6c0-19.3,9-32.1,24.6-32.1s24.4,12.8,24.4,32.1-8.9,32.1-24.4,32.1S392.1,234.9,392.1,215.6Zm38.6,0c0-15.5-5.3-22.8-14-22.8s-14.1,7.3-14.1,22.8,5.4,22.9,14.1,22.9S430.7,231,430.7,215.6Z')
		path.e(d='M470.4,246.5v-9.2h11.4V195.2a26.8,26.8,0,0,1-11.2,2.8v-9.5c4.8-.2,8.8-1.4,11.5-4H492v52.7h10.1v9.2Z')
		path.e(d='M528.5,231c0-8.2,6.2-13.3,14.8-17-7.4-3.6-12-7.4-12-15.1s7.3-15.7,20.9-15.7,20.8,7.9,20.8,15.7-4.4,11.5-12,14.9c9,3.9,14.8,8,14.8,17.2s-8.8,17-23.7,17S528.5,240.9,528.5,231Zm37-.6c0-5.6-4.6-8.8-14-12.6-8.2,3.8-12.6,7.2-12.6,12.6s5.2,9.1,13.3,9.1S565.5,236.1,565.5,230.4ZM563,199.6c0-3.9-3.1-7.9-10.7-7.9s-10.8,3.6-10.8,7.7,3.9,7.6,11.5,10.7C559.9,206.9,563,204.3,563,199.6Z')


	// Huddle Icon
	symbol#huddle(viewbox='0 0 50 50.9')
		title huddle-logo
		circle.huddle-orange(cx='25', cy='7.8', r='7.8')
		circle.huddle-blue(cx='25', cy='25.5', r='7.8')
		circle.huddle-orange(cx='25', cy='43.1', r='7.8')
		circle.huddle-blue(cx='7.8', cy='7.8', r='7.8')
		circle.huddle-blue(cx='7.8', cy='25.5', r='7.8')
		circle.huddle-blue(cx='7.8', cy='43.1', r='7.8')
		circle.huddle-blue(cx='42.2', cy='7.8', r='7.8')
		circle.huddle-blue(cx='42.2', cy='25.5', r='7.8')
		circle.huddle-blue(cx='42.2', cy='43.1', r='7.8')
	// Linkedin Icon
	symbol#linkedin(viewbox='0 0 512 512')
		title linkedin
		path(d='M68.12,4.267c-18.773,0-35.84,6.827-48.64,19.627C5.827,37.547-1,54.613-1,72.533c0,18.773,7.68,35.84,20.48,48.64 c12.8,12.8,30.72,20.48,47.787,19.627c0,0,0.853,0,1.707,0c17.067,0,33.28-6.827,46.08-19.627 c12.8-12.8,20.48-29.867,20.48-48.64c0.853-17.92-6.827-34.987-19.627-47.787C103.107,11.093,86.04,4.267,68.12,4.267z M103.107,109.227c-9.387,9.387-22.187,15.36-35.84,14.507c-12.8,0-26.453-5.12-35.84-14.507 c-10.24-9.387-15.36-23.04-15.36-36.693s5.12-26.453,15.36-36.693c9.387-9.387,22.187-14.507,36.693-14.507 c12.8,0,25.6,5.12,34.987,14.507c10.24,10.24,15.36,23.04,15.36,36.693S113.347,99.84,103.107,109.227z')
		path(d='M101.4,157.867H32.28c-13.653,0-24.747,11.093-24.747,25.6v298.667c0,13.653,11.947,25.6,25.6,25.6H101.4 c13.653,0,25.6-11.947,25.6-24.747v-299.52C127,169.813,115.053,157.867,101.4,157.867z M109.933,482.987 c0,4.267-4.267,7.68-8.533,7.68H33.133c-4.267,0-8.533-4.267-8.533-8.533V183.467c0-4.267,3.413-8.533,7.68-8.533h69.12 c4.267,0,8.533,4.267,8.533,8.533V482.987z')
		path(d='M391.533,149.333h-17.92c-33.28,0-64.853,14.507-85.333,37.547v-11.947c0-8.533-8.533-17.067-17.067-17.067H185.88 c-7.68,0-17.067,6.827-17.067,16.213v318.293c0,9.387,9.387,15.36,17.067,15.36h93.867c7.68,0,17.067-5.973,17.067-15.36v-184.32 c0-28.16,20.48-50.347,46.933-50.347c13.653,0,26.453,5.12,35.84,14.507c8.533,7.68,11.947,19.627,11.947,34.987v183.467 c0,8.533,8.533,17.067,17.067,17.067h85.333c8.533,0,17.067-8.533,17.067-17.067v-220.16 C511,202.24,458.947,149.333,391.533,149.333z M493.933,489.813l-0.853,0.853h-83.627L408.6,307.2 c0-20.48-5.12-35.84-16.213-46.933c-12.8-12.8-29.867-19.627-47.787-19.627c-35.84,0.853-64,29.867-64,67.413v182.613h-93.867 V174.933h84.48l0.853,0.853v53.76l23.04-23.04l0.853-0.853c17.067-23.893,46.933-39.253,78.507-39.253h17.92 c57.173,0,101.547,46.08,101.547,104.107V489.813z')
	// Youtube Icon
	symbol#youtube(viewbox='0 0 511.147 511.147')
		title youtube
		path(d='M505.027,146.2c0-1.707-5.12-39.253-21.333-57.173c-19.627-21.333-40.96-23.893-52.053-24.747h-3.413 c-69.12-5.12-172.373-5.973-174.08-5.973c-0.853,0-104.96,0.853-173.227,7.68h-2.56C66.413,66.84,45.08,69.4,26.307,90.733 C9.24,108.653,4.12,147.053,4.12,148.76c0,0-5.12,43.52-5.12,87.04v40.107c0,42.667,5.12,86.187,5.12,87.04 c0,1.707,5.12,39.253,21.333,57.173c17.92,20.48,39.253,23.04,52.907,24.747c2.56,0,4.267,0,6.827,0.853 c39.253,3.413,163.84,5.12,168.96,5.12c0.853,0,104.96,0,174.08-7.68h2.56c11.947-0.853,33.28-3.413,52.053-24.747 c17.067-17.92,22.187-56.32,22.187-58.027c0,0,5.12-43.52,5.12-87.04V233.24C510.147,190.573,505.027,147.053,505.027,146.2z M493.08,275.053c0,42.667-5.12,85.333-5.12,85.333c-1.707,9.387-6.827,36.693-17.92,48.64 c-14.507,17.067-31.573,18.773-40.96,19.627h-2.56c-68.267,5.12-171.52,5.12-172.373,5.12s-128.853-1.707-166.4-5.973 c-2.56,0-5.12-0.853-7.68-0.853c-11.947-0.853-29.013-3.413-42.667-18.773c-10.24-11.093-16.213-38.4-17.067-47.787 c0-0.853-5.12-43.52-5.12-85.333v-40.107c0-42.667,5.12-85.333,5.12-85.333c0.853-9.387,6.827-36.693,17.067-48.64 C52.76,83.907,68.973,82.2,79.213,81.347h2.56c68.267-5.12,171.52-5.973,172.373-5.973s104.107,0.853,172.373,5.973h3.413 c9.387,0.853,26.453,2.56,40.96,19.627c10.24,11.947,15.36,39.253,17.067,48.64c0.853,1.707,5.12,44.373,5.12,85.333V275.053z')
		path(d='M360.813,255.427l-162.133-94.72c-2.56-1.707-5.973-1.707-8.533,0s-4.267,4.267-4.267,7.68V353.56 c0,3.413,1.707,5.973,4.267,7.68c1.707,0.853,2.56,0.853,4.267,0.853s2.56,0,4.267-0.853l162.133-90.453 c2.56-1.707,4.267-4.267,4.267-7.68S363.373,257.133,360.813,255.427z M202.947,339.053v-156.16l136.533,80.213L202.947,339.053z ')
	// Facebook Icon
	symbol#facebook(viewbox='0 0 512 512')
		title facebook
		path(d='M468.333-1H41.667C17.773-1-1,17.773-1,41.667v426.667C-1,492.227,17.773,511,41.667,511h196.267h102.4h128 C492.227,511,511,492.227,511,468.333V41.667C511,17.773,492.227-1,468.333-1z M255,493.933V323.267h-68.267V255H255v-59.733 c0-48.64,37.547-89.6,85.333-93.867h76.8v68.267h-68.267c-14.507,0-25.6,11.093-25.6,25.6V255H408.6v68.267h-85.333v170.667H255z M493.933,468.333c0,14.507-11.093,25.6-25.6,25.6h-128v-153.6h85.333v-102.4h-85.333v-42.667c0-5.12,3.413-8.533,8.533-8.533 H434.2v-102.4h-94.72c-57.173,5.12-101.547,53.76-101.547,110.933v42.667h-68.267v102.4h68.267v153.6H41.667 c-14.507,0-25.6-11.093-25.6-25.6V41.667c0-14.507,11.093-25.6,25.6-25.6h426.667c14.507,0,25.6,11.093,25.6,25.6V468.333z')
	// Twitter Icon
	symbol#twitter(viewbox='0 0 511.271 511.271')
		title twitter
		path(d='M508.342,94.243c-2.603-2.603-6.942-3.471-10.414-2.603l-17.356,6.075c10.414-12.149,17.356-25.166,21.695-37.315 c1.736-4.339,0.868-7.81-1.736-10.414c-2.603-2.603-6.942-3.471-10.414-1.736c-24.298,10.414-45.125,19.092-62.481,24.298 c0,0.868-0.868,0-1.736,0c-13.885-7.81-47.729-25.166-72.027-25.166c-61.614,0.868-111.078,52.936-111.078,116.285v3.471 c-90.251-17.356-139.715-43.39-193.519-99.797L40.6,58.663l-5.207,10.414c-29.505,56.407-8.678,107.607,25.166,142.319 c-15.62-2.603-26.034-7.81-35.58-15.62c-3.471-2.603-7.81-3.471-12.149-0.868c-3.471,1.736-5.207,6.942-4.339,11.281 c12.149,40.786,42.522,73.763,75.498,93.722c-15.62,0-28.637-1.736-41.654-10.414c-3.471-1.736-8.678-1.736-12.149,0.868 s-5.207,6.942-3.471,11.281c15.62,44.258,45.993,67.688,94.59,73.763c-25.166,14.753-58.142,26.902-109.342,27.77 c-5.207,0-9.546,3.471-11.281,7.81c-1.736,5.207,0,9.546,3.471,13.017c31.241,25.166,100.664,39.919,186.576,39.919 c152.732,0,277.695-136.244,277.695-303.729v-2.603c19.092-9.546,34.712-27.77,42.522-52.936 C511.813,101.185,510.945,96.846,508.342,94.243z M456.274,143.707l-5.207,1.736v14.753 c0,157.939-117.153,286.373-260.339,286.373c-78.97,0-131.905-13.017-160.542-26.902c59.878-4.339,94.59-23.431,121.492-44.258 l21.695-15.62h-26.034c-49.464,0-79.837-13.885-97.193-46.861c15.62,5.207,32.108,5.207,50.332,4.339 c6.942-0.868,13.885-0.868,20.827-0.868l2.603-17.356c-32.976-9.546-72.027-39.051-91.119-78.969 c17.356,7.81,36.447,9.546,53.803,9.546h26.902L91.8,213.999c-18.224-13.017-72.027-59.01-45.993-124.963 c55.539,54.671,108.475,79.837,203.932,97.193l10.414,1.736v-24.298c0-53.803,41.654-98.061,93.722-98.929 c19.959-0.868,52.936,17.356,62.481,22.563c5.207,2.603,10.414,3.471,15.62,1.736c13.017-4.339,28.637-10.414,45.993-17.356 c-7.81,13.017-18.224,25.166-32.108,36.448c-3.471,2.603-4.339,7.81-2.603,12.149c1.736,4.339,6.942,6.075,11.281,4.339 l33.844-11.281C482.308,124.616,472.762,137.633,456.274,143.707z')
	// Instagram Icon
	symbol#instagram(viewbox='0 0 512 512')
		title social-media
		path(d='M365.08-1H144.92C64.707-1-1,64.707-1,144.92v220.16C-1,445.293,64.707,511,144.92,511h220.16 C445.293,511,511,445.293,511,365.08V144.92C511,64.707,445.293-1,365.08-1z M493.933,365.08 c0,70.827-58.027,128.853-128.853,128.853H144.92c-70.827,0-128.853-58.027-128.853-128.853V144.92 c0-70.827,58.027-128.853,128.853-128.853h220.16c70.827,0,128.853,58.027,128.853,128.853V365.08z')
		path(d='M365.08,50.2H144.92c-52.053,0-94.72,42.667-94.72,94.72v220.16c0,52.053,42.667,94.72,94.72,94.72h220.16 c52.053,0,94.72-42.667,94.72-94.72V144.92C459.8,92.867,417.133,50.2,365.08,50.2z M442.733,365.08 c0,42.667-34.987,77.653-77.653,77.653H144.92c-42.667,0-77.653-34.987-77.653-77.653V144.92 c0-42.667,34.987-77.653,77.653-77.653h220.16c42.667,0,77.653,34.987,77.653,77.653V365.08z')
		path(d='M255,118.467c-75.093,0-136.533,61.44-136.533,136.533S179.907,391.533,255,391.533S391.533,330.093,391.533,255 S330.093,118.467,255,118.467z M255,374.467c-65.707,0-119.467-53.76-119.467-119.467S189.293,135.533,255,135.533 S374.467,189.293,374.467,255S320.707,374.467,255,374.467z')
		path(d='M255,161.133c-52.053,0-93.867,41.813-93.867,93.867c0,52.053,41.813,93.867,93.867,93.867s93.867-41.813,93.867-93.867 S307.053,161.133,255,161.133z M255,331.8c-42.667,0-76.8-34.133-76.8-76.8c0-42.667,34.133-76.8,76.8-76.8 c42.667,0,76.8,34.133,76.8,76.8C331.8,297.667,297.667,331.8,255,331.8z')
		path(d='M391.533,92.867c-14.507,0-25.6,11.093-25.6,25.6s11.093,25.6,25.6,25.6c14.507,0,25.6-11.093,25.6-25.6 S406.04,92.867,391.533,92.867z')
	// SnapChat Icon
	symbol#snapchat(viewbox='0 0 512.853 512.853')
		title snapchat
		path(d='M500.907,376.747c-64.853-11.093-93.867-75.947-97.28-83.627v-0.853c-3.413-6.827-4.267-11.947-2.56-16.213 c3.413-7.68,17.92-12.8,27.307-15.36c2.56-0.853,5.12-1.707,6.827-2.56c17.92-7.68,27.307-17.067,27.307-28.16 c0-8.533-6.827-17.067-17.067-20.48c-3.413-1.707-7.68-2.56-11.947-2.56c-2.56,0-6.827,0.853-11.093,2.56 c-8.533,3.413-15.36,5.973-20.48,5.973c-1.707,0-3.413,0-5.12-0.853c0.853-2.56,0.853-5.12,0.853-8.533v-1.707 c1.707-34.987,5.12-78.507-6.827-104.107c-34.987-76.8-107.52-82.773-128.853-82.773h-10.24c-21.333,0-93.867,5.973-128,82.773 c-11.947,25.6-9.387,69.12-6.827,104.107c0.853,3.413,0.853,6.827,0.853,10.24c-1.707,0-4.267,0.853-6.827,0.853 c-6.827,0-13.653-1.707-22.187-5.973c-11.947-5.12-34.987,2.56-37.547,17.92c-1.707,8.533,1.707,20.48,27.307,30.72 c1.707,0.853,4.267,1.707,7.68,2.56c8.533,2.56,23.04,7.68,26.453,15.36c1.707,3.413,0.853,9.387-2.56,16.213 c-1.707,2.56-31.573,71.68-98.987,82.773C4.267,376.747,0,382.72,0,389.547c0,2.56,0.853,4.267,1.707,5.973 c5.12,13.653,27.307,22.187,67.413,29.013c0.853,2.56,1.707,7.68,2.56,10.24c0.853,3.413,1.707,7.68,2.56,11.947 c0.853,4.267,5.12,11.093,15.36,11.093c3.413,0,7.68-0.853,11.947-1.707c6.827-1.707,15.36-3.413,26.453-3.413 c6.827,0,12.8,0.853,19.627,2.56c11.947,1.707,23.04,9.387,34.987,17.92c17.92,12.8,34.133,22.187,67.413,22.187 c0.853,0,1.707,0,2.56,0s2.56,0,3.413,0c29.013,0,54.613-7.68,76.8-22.187c11.947-7.68,23.04-16.213,34.987-17.92 c5.973-0.853,12.8-1.707,18.773-1.707c10.24,0,18.773,0.853,26.453,2.56c5.12,0.853,9.387,1.707,12.8,1.707 c6.827,0,12.8-4.267,14.507-11.093c0.853-4.267,1.707-7.68,2.56-11.947c0.853-1.707,1.707-6.827,2.56-9.387 c40.107-5.973,59.733-15.36,65.707-28.16c0.853-1.707,1.707-4.267,1.707-5.973C512.853,384.427,507.733,377.6,500.907,376.747z M440.32,408.32c-10.24,0.853-11.947,11.093-14.507,22.187c-0.853,2.56-1.707,5.973-2.56,9.387c-1.707,0-4.267,0-8.533-0.853 c-8.533-1.707-17.92-3.413-29.867-3.413c-6.827,0-13.653,0.853-21.333,1.707c-15.36,2.56-29.013,11.947-41.813,21.333 C302.933,472.32,281.6,478.293,256,478.293c-0.853,0-1.707,0-3.413,0c-0.231,0-0.445,0-0.64,0c-0.073,0-0.146,0-0.213,0 c-28.16,0-41.813-8.533-58.027-19.627c-12.8-9.387-25.6-18.773-41.813-21.333c-6.827-0.853-14.507-1.707-21.333-1.707 c-12.8,0-23.04,1.707-29.867,3.413c-3.413,0.853-5.973,1.707-8.533,1.707c-0.853-3.413-1.707-6.827-2.56-10.24 c-2.56-11.093-4.267-21.333-14.507-23.04c-37.547-5.12-50.347-12.8-54.613-16.213c69.973-14.507,102.4-82.773,106.667-92.16 c5.12-11.093,5.973-21.333,2.56-29.867c-6.827-15.36-25.6-21.333-37.547-24.747c-2.56,0-4.267-0.853-5.973-1.707 C71.68,236.8,69.12,231.68,69.12,230.827c0-2.56,5.973-5.973,11.093-5.973c1.707,0,2.56,0,2.56,0 c10.24,5.12,20.48,7.68,29.013,7.68c12.8,0,19.627-5.973,21.333-7.68s2.56-3.413,2.56-5.973c0-5.12-0.853-10.24-0.853-15.36 c-2.56-33.28-5.12-74.24,5.12-96.427c29.867-67.413,93.867-72.533,112.64-72.533h8.533h0.853c18.773,0,82.773,5.12,113.493,70.827 c9.387,22.187,6.827,63.147,5.12,96.427v1.707c0,5.12-0.853,9.387-0.853,13.653c0,2.56,0.853,5.12,2.56,6.827 c1.707,1.707,7.68,6.827,20.48,7.68c8.533-0.853,17.067-3.413,27.307-7.68c1.707-0.853,5.973-0.853,9.387,0.853 c4.267,1.707,5.973,4.267,5.973,5.12c0,1.707-3.413,6.827-17.067,11.947c-1.707,0.853-4.267,1.707-6.827,2.56 c-11.093,3.413-29.867,9.387-36.693,24.747c-4.267,8.533-2.56,18.773,2.56,29.867c3.413,8.533,34.987,78.507,105.813,93.013 C488.96,395.52,477.013,402.347,440.32,408.32z')

	symbol#aapa-logo__purple(viewbox='0 0 422.6 210.3')
		path.st0(d='M46.5,146.4c-3.1-2.1-6.1-4.2-9.2-6.1l-5.6,5.6c2.9,2,5.9,4.1,8.9,6.3L46.5,146.4z')
		path.st0(d='M96.7,173c-8.6-2.7-16.9-6.2-24.7-10.6l-6.6,6.6c7.2,4.4,14.8,8.2,22.6,11.3c12.9,4.9,22.4,5,26.9,0.4\
		c1.5-1.5,2.4-3.4,2.9-5.4C111.9,176.3,104.8,175.4,96.7,173')
		path.st0(d='M117.3,75.5c-9.2-6.5-18.8-12.2-28.9-17.2c4.8,10.2,10.5,20,16.9,29.2L117.3,75.5z')
		path.st0(d='M167.2,102c-8.5-2.7-16.6-6.2-24.4-10.5L127,107.4c7.1,4.4,14.6,8.1,22.3,11.2c12.8,4.9,22.2,5,26.7,0.4\
		c2.9-2.9,3.9-7.9,2.9-14.6C175,104,171,103.2,167.2,102')
		path.st0(d='M59.9,61.2c-1.6-4-2.7-8.1-3.5-12.4c-6.6-0.2-11.8,1.4-15.1,4.8c-1.8,1.8-3.2,4.1-3.9,6.6\
		c5.3-0.3,11.9,1.1,19.4,3.9c1.7,0.6,3.4,1.3,5.2,2.1C61.2,64.6,60.5,62.9,59.9,61.2')
		path.st0(d='M113,9.7c-13.7-4.1-24.2-3.4-29.8,2.3c-3.7,3.6-5.2,9.3-4.8,16.6c3.7,0.8,7.4,1.8,11,3.2\
		c10.2,3.8,22.2,10.4,35.1,19.2l24.2-24.2C135.6,18.7,123.4,12.8,113,9.7')
		path.st0(d='M87.7,108.5l-27.3,27.3L0,196.2c3.8,2.5,7.8,5.1,11.8,8c3,2.1,6,4.2,8.9,6.1l61.1-61.1l20-20\
		C97.8,122.7,93,115.7,87.7,108.5')
		path.st0(d='M116.6,153c-5-13.1-14.4-29.3-27.4-46.6s-22.2-33.2-27-46s-5-22.4-0.4-26.9l15.4-15.5\
		c-2,6.4-1.3,14.8,1.5,24.3c4.1,14,12.9,30.7,25.4,48.5s21.1,34.3,25.2,47.9s3.4,24.1-2.3,29.7l-7.1,7.1\
		C121.3,169.8,120,162.1,116.6,153')
		path.st0(d='M190.7,40.3l22.9-22.9L196.2,0l-19,19C182.1,25.9,186.6,33,190.7,40.3')
		path.st0(d='M149.3,46.9l-42.9,42.9c4.9,6.9,9.4,14,13.5,21.3l43.5-43.5C159.3,61.1,154.6,54.1,149.3,46.9')
		path.st0(d='M178,91.3c3.4,9,4.8,16.8,3.4,22.6l16.4-16.4c5.7-5.6,6.4-16.1,2.3-29.7S187.4,37.6,175,19.9\
		c-1.3-1.8-2.5-3.6-3.7-5.4l-24.7,24.7c1.3,1.8,2.6,3.7,4,5.5C163.6,62.1,173,78.2,178,91.3')
		path.st0(d='M36.8,84.1c-2.8-9.6-3.5-17.9-1.5-24.3l-6.1,6.1c-4.6,4.4-4.5,14,0.4,26.9c3.9,10.2,10.6,22.5,19.7,35.8\
		l6.2-6.2C46.5,108.4,40.2,95.3,36.8,84.1')
		path.st0(d='M31.5,206.3c0-2.2,1.8-3.9,3.9-3.9c2.2,0,3.9,1.8,3.9,3.9c0,2.2-1.8,3.9-3.9,3.9S31.5,208.5,31.5,206.3\
		L31.5,206.3 M31.9,206.3c0,1.9,1.6,3.5,3.5,3.4s3.5-1.6,3.4-3.5c0-1.9-1.6-3.4-3.5-3.4C33.5,202.8,31.9,204.4,31.9,206.3\
		C31.9,206.3,31.9,206.3,31.9,206.3 M35.5,206.7h-0.9v1.8H34v-4.4h1.6c1.1,0,1.6,0.5,1.6,1.3c0,0.5-0.3,1-0.9,1.2l0.9,1.9h-0.8\
		L35.5,206.7z M34.7,204.8v1.3h0.8c0.6,0,0.9-0.2,0.9-0.7s-0.3-0.6-0.9-0.6H34.7z')
		path.st0(d='M385.4,161.8l7.5-21.7h0.1l7.3,21.7H385.4z M364.1,186.2H377l4.9-14.2h21.7l4.7,14.2h14.2L400,122.3h-13.3\
		L364.1,186.2z M331.9,152.7V134h9.5c8.8,0,12,3.4,12,9.3c0,6.1-3.3,9.5-12,9.5L331.9,152.7z M317.9,186.2h13.9v-22.6h9\
		c12.7,0,26.2-3.5,26.2-20.6c0-16.8-12.4-20.4-26-20.4h-23.1V186.2z M272.8,161.8l7.5-21.7h0.2l7.3,21.7H272.8z M251.5,186.2h12.9\
		l4.9-14.2H291l4.7,14.2h14.2l-22.5-63.9h-13.3L251.5,186.2z M211.4,161.8l7.5-21.7h0.2l7.3,21.7H211.4z M190.2,186.2h12.9L208,172\
		h21.7l4.7,14.2h14.2l-22.5-63.9h-13.3L190.2,186.2z')
	symbol#aapa-logo__purple(viewbox='0 0 422.6 210.3')
		path.st0(d='M46.5,146.4c-3.1-2.1-6.1-4.2-9.2-6.1l-5.6,5.6c2.9,2,5.9,4.1,8.9,6.3L46.5,146.4z')
		path.st0(d='M96.7,173c-8.6-2.7-16.9-6.2-24.7-10.6l-6.6,6.6c7.2,4.4,14.8,8.2,22.6,11.3c12.9,4.9,22.4,5,26.9,0.4\
		c1.5-1.5,2.4-3.4,2.9-5.4C111.9,176.3,104.8,175.4,96.7,173')
		path.st0(d='M117.3,75.5c-9.2-6.5-18.8-12.2-28.9-17.2c4.8,10.2,10.5,20,16.9,29.2L117.3,75.5z')
		path.st0(d='M167.2,102c-8.5-2.7-16.6-6.2-24.4-10.5L127,107.4c7.1,4.4,14.6,8.1,22.3,11.2c12.8,4.9,22.2,5,26.7,0.4\
		c2.9-2.9,3.9-7.9,2.9-14.6C175,104,171,103.2,167.2,102')
		path.st0(d='M59.9,61.2c-1.6-4-2.7-8.1-3.5-12.4c-6.6-0.2-11.8,1.4-15.1,4.8c-1.8,1.8-3.2,4.1-3.9,6.6\
		c5.3-0.3,11.9,1.1,19.4,3.9c1.7,0.6,3.4,1.3,5.2,2.1C61.2,64.6,60.5,62.9,59.9,61.2')
		path.st0(d='M113,9.7c-13.7-4.1-24.2-3.4-29.8,2.3c-3.7,3.6-5.2,9.3-4.8,16.6c3.7,0.8,7.4,1.8,11,3.2\
		c10.2,3.8,22.2,10.4,35.1,19.2l24.2-24.2C135.6,18.7,123.4,12.8,113,9.7')
		path.st0(d='M87.7,108.5l-27.3,27.3L0,196.2c3.8,2.5,7.8,5.1,11.8,8c3,2.1,6,4.2,8.9,6.1l61.1-61.1l20-20\
		C97.8,122.7,93,115.7,87.7,108.5')
		path.st0(d='M116.6,153c-5-13.1-14.4-29.3-27.4-46.6s-22.2-33.2-27-46s-5-22.4-0.4-26.9l15.4-15.5\
		c-2,6.4-1.3,14.8,1.5,24.3c4.1,14,12.9,30.7,25.4,48.5s21.1,34.3,25.2,47.9s3.4,24.1-2.3,29.7l-7.1,7.1\
		C121.3,169.8,120,162.1,116.6,153')
		path.st0(d='M190.7,40.3l22.9-22.9L196.2,0l-19,19C182.1,25.9,186.6,33,190.7,40.3')
		path.st0(d='M149.3,46.9l-42.9,42.9c4.9,6.9,9.4,14,13.5,21.3l43.5-43.5C159.3,61.1,154.6,54.1,149.3,46.9')
		path.st0(d='M178,91.3c3.4,9,4.8,16.8,3.4,22.6l16.4-16.4c5.7-5.6,6.4-16.1,2.3-29.7S187.4,37.6,175,19.9\
		c-1.3-1.8-2.5-3.6-3.7-5.4l-24.7,24.7c1.3,1.8,2.6,3.7,4,5.5C163.6,62.1,173,78.2,178,91.3')
		path.st0(d='M36.8,84.1c-2.8-9.6-3.5-17.9-1.5-24.3l-6.1,6.1c-4.6,4.4-4.5,14,0.4,26.9c3.9,10.2,10.6,22.5,19.7,35.8\
		l6.2-6.2C46.5,108.4,40.2,95.3,36.8,84.1')
		path.st0(d='M31.5,206.3c0-2.2,1.8-3.9,3.9-3.9c2.2,0,3.9,1.8,3.9,3.9c0,2.2-1.8,3.9-3.9,3.9S31.5,208.5,31.5,206.3\
		L31.5,206.3 M31.9,206.3c0,1.9,1.6,3.5,3.5,3.4s3.5-1.6,3.4-3.5c0-1.9-1.6-3.4-3.5-3.4C33.5,202.8,31.9,204.4,31.9,206.3\
		C31.9,206.3,31.9,206.3,31.9,206.3 M35.5,206.7h-0.9v1.8H34v-4.4h1.6c1.1,0,1.6,0.5,1.6,1.3c0,0.5-0.3,1-0.9,1.2l0.9,1.9h-0.8\
		L35.5,206.7z M34.7,204.8v1.3h0.8c0.6,0,0.9-0.2,0.9-0.7s-0.3-0.6-0.9-0.6H34.7z')
		path.st0(d='M385.4,161.8l7.5-21.7h0.1l7.3,21.7H385.4z M364.1,186.2H377l4.9-14.2h21.7l4.7,14.2h14.2L400,122.3h-13.3\
		L364.1,186.2z M331.9,152.7V134h9.5c8.8,0,12,3.4,12,9.3c0,6.1-3.3,9.5-12,9.5L331.9,152.7z M317.9,186.2h13.9v-22.6h9\
		c12.7,0,26.2-3.5,26.2-20.6c0-16.8-12.4-20.4-26-20.4h-23.1V186.2z M272.8,161.8l7.5-21.7h0.2l7.3,21.7H272.8z M251.5,186.2h12.9\
		l4.9-14.2H291l4.7,14.2h14.2l-22.5-63.9h-13.3L251.5,186.2z M211.4,161.8l7.5-21.7h0.2l7.3,21.7H211.4z M190.2,186.2h12.9L208,172\
		h21.7l4.7,14.2h14.2l-22.5-63.9h-13.3L190.2,186.2z')
